{% extends '/layouts/default.html' %}
{% import "/macros/event_tile.html" as event_tile %}

{% block title %}메멘토 - 그 사람에 대한 모든 정보{% endblock %}

{% block head %}
	{{ super() }}

	<meta property="og:image" content="/images/cover.png">
	<link rel="stylesheet" href="/css/home.css">

{% endblock %}


{% block content %}
	<div class="background"></div>

	<section id="search">
		<div class="search-box clearfix">
			<input class="fl" type="text" name="q">
			<i class="fa fa-search fr"></i>
		</div>
	</section>

	<section id="trendy-people">
		<i class="fa fa-angle-left prev-btn"></i>
		<div class="container">
			<ul class="clearfix" style="width: {{ people|length * 85 }}px">
				{% for person in people.values() %}
				<a href="/people/{{ person.id }}">
					<li>
						<div class="image" style="{{ first_image(person.images, True) }}"></div>
						<h4>{{ person.nickname }}</h4>
						<div class="role">{{ (person.get_role().values() | first).name }}</div>

						{% if person.status == 4 %}
						<div style="color: #ffe8b0; font-size: 10px">(가데이터)</div>
						{% endif %}
					</li>
				</a>
				{% endfor %}
			</ul>
		</div>
		<i class="fa fa-angle-right next-btn"></i>

		<script type="text/javascript">
			(function() {
				$('#trendy-people').find('.prev-btn, .next-btn').click(function (event) {
					var container = $('#trendy-people .container');
					var w = container.width();
					var dest = container.scrollLeft();
					
					if ($(event.target).hasClass("prev-btn"))	dest -= w;
					else										dest += w;		
					container.animate({scrollLeft: dest}, 300);
				});
			})();
	</script>
	</section>

	<section id="watchable-event" class="common-tile">
		<h3>볼만한 사건들</h3>
		{# <a href="/events">
			<i class="fa fa-angle-right view-more"></i>
		</a> #}

		<div class="content clearfix">
			{% for event in events.values() %}
				{% if loop.index <= 3 %}
					{{ event_tile.mini_event_tile(event) }}
				{% endif %}

			{% endfor %}
		</div>
	</section>

	<section id="day-3years-ago" class="common-tile">
		<h3>3년전 오늘</h3>
		<div class="content clearfix">
			<div class="no-content">이벤트가 없습니다</div>
		</div>
	</section>
{% endblock %}

