{% extends '/layouts/default.html' %}

{% block title %}메멘토 - 검색{% endblock %}

{% block head %}
	{{ super() }}

	<link rel="stylesheet" href="{{ geturl('assets', '/css/search.css') }}">
	<script type="text/javascript" src="{{ geturl('assets', '/js/search.js') }}"></script>
{% endblock %}

{% block foot %}
	{{ super() }}

	<script type="text/javascript">
		var params = parseHash(location.hash);
		
		searchEvent(params['q']);
		searchPeople(params['q']);
		document.forms['search'].q.value = params['q'];
		document.forms['searchg'].q.value = params['q'];
	</script>

{% endblock %}

{% block content %}
	<section id="search">
		<form name="search" method="GET" action="/search" onsubmit="return searchSubmit(this);">
			<div class="search-box clearfix">
				<input class="fl" type="text" name="q" onfocus="$(this).parent().addClass('focused')" onblur="$(this).parent().removeClass('focused')">
				<button class="search">
					<i class="fa fa-search fr"></i>
				</button>
			</div>
		</form>
	</section>

	<section id="people-result" class="common-tile">
		<h3>
			<i class="icon icon-people"></i>
			<span>인물 검색</span>
		</h3>
		<div class="result clearfix"></div>
		<div class="more-btn">
			<span class="content">
				<span>인물 더보기</span>
				<i class="fa fa-plus-square-o" aria-hidden="true"></i>
			</span>
		</div>
	</section>

	<section id="event-result" class="common-tile">
		<h3>
			<i class="icon icon-news"></i>
			<span>사건 검색</span>
		</h3>
		<div class="result"></div>
	</section>

	{% raw %}
	<script type="x-tmpl-mustache" id="template-person-tile">
		<div class="person-tile mini-person-tile">
			<div class="image" style="{{ image_url person.images.[0] true }}"></div>

			<h4>
				<span>{{ person.nickname }}</span>
				{{# if_neq person.realname person.nickname }}
				<span class="sub">({{ person.realname }})</span>
				{{/ if_neq }}
			</h4>
			<div class="role">
				{{ roles person.role_json }}
			</div>			
		</div>
	</script>
	{% endraw %}
{% endblock %}

