{% extends '/layouts/default.html' %}

{% block title %}위클리 메멘토 - {{ month }}월 {{ week }}주차{% endblock %}

{% block head %}
	{{ super() }}

	<link rel="stylesheet" type="text/css" href="{{ geturl('assets', '/css/weekly_memento.css') }}">
{% endblock %}


{% block content %}
	<section id="weekly-header">
		<div class="background" style="{{ weekly_memento.repr_image(True) | safe }}"></div>

		<svg class="mask" width="100%" height="60" viewBox="0 0 100 60" preserveAspectRatio="none">
			<path d="M 0 0 q 50 60 100 0 L 100 60 L 0 60" fill="#e3e4e8" />
		</svg>

		<div class="content">
			<h1>{{ month }}월 {{ week }}주차</h1>
			<h3>
				{{ year }}.{{ fill_zero(start_date.month) }}.{{ fill_zero(start_date.day) }} ~
				{% if start_date.month != end_date.month %}{{ fill_zero(end_date.month) }}.{% endif %}{{ fill_zero(end_date.day) }}
			</h3>

			<div class="navigation">
				{% if prev_week %}
					<a href="{{ geturl('weekly', '/%s.%s/%s/' % (prev_week[0], prev_week[1], prev_week[2])) }}">
						<span class="prev-btn btn">
							<i class="fa fa-angle-left"></i>
						</span>
					</a>
				{% else %}
					<span class="prev-btn btn disabled">
						<i class="fa fa-angle-right"></i>
					</span>
				{% endif %}

				{% if next_week %}
					<a href="{{ geturl('weekly', '/%s.%s/%s/' % (next_week[0], next_week[1], next_week[2])) }}">
						<span class="next-btn btn">
							<i class="fa fa-angle-right"></i>
						</span>
					</a>
				{% else %}
					<span class="next-btn btn disabled">
						<i class="fa fa-angle-right"></i>
					</span>
				{% endif %}
			</div>
		</div>
	</section>

	<section id="timeline">
		<ul>
			{% for event in events %}
				<li class="clearfix {{ 'grouped' if (loop.index0 != 0 and event.date.day == events[loop.index0-1].date.day) }}">
					<div class="fl">
						<h3>{{ event.date.day }}일</h3>
						<div class="line"></div>
						<div class="circle"></div>
					</div>
					<div class="fr">
						{{ event_tile.event_tile(event, full_image=True) }}
					</div>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}


