{% extends "/event_magazine/_layout.html" %}

{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ geturl('assets', '/js/event_3lines.js') }}"></script>
	<script type="text/javascript">
		function openWritePopup() {
			$("#three-lines-writing-popup").fadeIn();

		}
		function uploadSummaries3Lines(form) {
			if (!form.line1.value || !form.line2.value || !form.line3.value) {
				alert("내용을 입력 해 주세요");
				return false;
			}
			summeries3lines.write([
				form.line1.value,
				form.line2.value,
				form.line3.value
			]);
			$("#three-lines-writing-popup").fadeOut();
		}
	</script>
{% endblock %}

{% block foot %}
	{{ super() }}
	<script type="text/javascript">
		summeries3lines.render();
	</script>

{% endblock %}


{% block content %}
	{{ super() }}

	<div id="three-lines-writing-popup" class="popup">
		<div class="background"></div>
		<div class="content">
			<form onsubmit="uploadSummaries3Lines(this); return false">
				<h4>3줄 요약 작성하기</h4>
				<div>
					<input type="text" name="line1" placeholder="줄 1"><br>
					<input type="text" name="line2" placeholder="줄 2"><br>
					<input type="text" name="line3" placeholder="줄 3">
				</div>
				<div class="btn-container">
					<button>등록</button>
				</div>
			</form>
		</div>
	</div>


	<section id="three-lines-header" class="board-tile-header clearfix">
		<div class="fl">
			<button class="write" onclick="openWritePopup()">3줄 요약 작성하기</button>
		</div>
		<div class="fr">
			<span class="filter-btn type0 active" onclick="summeries3lines.reload(0)">
				<span class="radio"><i></i></span>
				<span>호감순</span>
			</span>
			<span class="filter-btn type1" onclick="summeries3lines.reload(1)">
				<span class="radio"><i></i></span>
				<span>최신순</span>
			</span>
		</div>
	</section>

	<section id="three-lines-full"></section>

	{% raw %}
	<script type="x-tmpl-mustache" id="template-3lines">
		{{# if summaries3lines.length }}
			{{#each summaries3lines }}
			<div class="board-tile" id="summaries3-{{ this.id }}">
				<ol class="three-line-summary">
					{{#each this.summaries }}
					<li>
						<i class="l{{inc @index}} index-bubble">{{inc @index}}</i>
						<span>{{ this }}</span>
					</li>
					{{/ each }}
				</ol>
				<div class="meta clearfix">
					<div class="fl">
						<img class="avatar" src="{{ this.user.image_url }}" width="25" height="25">
						<h4>@{{ this.user.nickname }}</h4>
						<span class="date">{{ this.created_time }}</span>
					</div>

					<div class="btn-container fr">
						<button class="like-btn" onclick="summeries3lines.like({{ this.id }})">
							<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
							<span>{{ this.like_count }}</span>
						</button>
						<button class="dislike-btn" onclick="summeries3lines.dislike({{ this.id }})">
							<i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 
							<span>{{ this.dislike_count }}</span>
						</button>
					</div>
				</div>
			</div>
			{{/ each }}
		{{else}}
		<div class="no-content">아직 3줄 요약이 없습니다</div>
		{{/ if }}
	</script>
	{% endraw %}
{% endblock %}