{% extends '/layouts/default.html' %}

{% block title %}{{ event.title }} - 메멘토{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/css/event_magazine.css">

{% endblock %}


{% block content %}
	<section id="event-header">
		<div class="background" style="{{ first_image(event.images, True) }}"></div>

		<h1{% if (event.title | length) > 25 %} style="font-size:25px"{% endif %}>
			{{ event.title }}
		</h1>
	</section>

	<nav class="magazine-nav">
		<ul class="clearfix">
			{{ nav_li('/event/%s' % event.id, '요약', _page.url) }}
			{{ nav_li('/event/%s/images' % event.id, '관련 사진', _page.url) }}
			{{ nav_li('/event/%s/news' % event.id, '관련 기사', _page.url) }}
			{{ nav_li('/event/%s/3lines' % event.id, '3줄 요약', _page.url) }}
		</ul>
	</nav>
{% endblock %}