{% extends '/layouts/default.html' %}

{% block title %}{{ event.title }} - 메멘토{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ geturl('assets', '/css/event_magazine.css') }}">
	<script type="text/javascript">var eventId = {{ event.id }};</script>
{% endblock %}


{% block content %}
	<section id="event-header">
		<div class="background" style="{{ event.repr_image(True) }}"></div>

		<div class="content">
			<h3>
				<span>{{ event.date.year }}년 {{ event.date.month }}월</span>
				{{ event_tile.category_label(event, 'white') }}
			</h3>
			<h1{% if (event.title | length) > 25 %} style="font-size:25px"{% endif %}>
				{{ event.title }}
			</h1>
		</div>
	</section>

	<nav class="magazine-nav">
		<ul class="clearfix">
			{{ nav_li(event.magazine_url(), 			 '요약', 		page == 'summary') }}
			{{ nav_li(event.magazine_url() + '/images',  '관련 사진', page == 'images') }}
			{{ nav_li(event.magazine_url() + '/news', 	 '관련 기사', page == 'news') }}
			{{ nav_li(event.magazine_url() + '/3lines',  '3줄 요약', page == '3lines') }}
		</ul>
	</nav>
{% endblock %}