{% extends "/event_magazine/_layout.html" %}

{% block foot %}
	{{ super() }}

	<script type="text/javascript">
		(function(){
			var grid = new Minigrid({
				container: 'ul.news-container',
				item: 'ul.news-container li',
				gutter: 8
			});

			$(window).on('resize', function () {
				grid.mount();
			});
			$(window).on('load', function() {
				grid.mount();
			})
			grid.mount();

		})();
	</script>
	
{% endblock %}
	
{% block content %}
	{{ super() }}

	<section id="related-news">
		<ul class="news-container">
		{% for news in event.event_articles %}
			<a href="{{ news.source_url }}" target="_blank">
				{% if news.repr_image() %}
				<li class="grid-image-tile">
					<img src="{{ news.repr_image() }}" width="100%">
					<div class="background-filter"></div>
					<div class="content">
						<div class="source">{{ news.crawl_target }}</div>
						<h4>{{ news.title }}</h4>
					</div>
				</li>
				{% else %}
				<li class="grid-image-tile no-img">
					<div class="content">
						<div class="source">{{ news.crawl_target }}</div>
						<h4>{{ news.title }}</h4>
					</div>
				</li>
				{% endif %}
			</a>
		{% endfor %}
		</ul>
	</section>

{% endblock %}