{% extends "/layouts/event_magazine.html" %}

{% block head %}
	{{ super() }}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
	
{% endblock %}

{% block content %}
	{{ super() }}

	<section id="related-people" class="common-tile">
		<h3>관련 인물</h3>
		<div class="content clearfix">
			{% for person in entities %}
				<div class="person fl {{ 'last'|safe if loop.last }}">
					<a href="/people/{{ person.id }}">
						<div class="clearfix">
							<div class="fl left">
								<span class="image" style="{{ first_image(person.images, True) }}"></span>
							</div>
							<div class="fl right">
								<div>{{ person.nickname }}</div>
								<div class="role">{{ person.roles | join(',') }}</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</section>

	<section id="three-line-summaries" class="common-tile">
		<div class="more fr">
			<a href="./3lines">더보기</a>
		</div>
		<h3>3줄 요약</h3>

		<div class="content">
		{% if three_line_summaries and three_line_summaries | length %}
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for summary in three_line_summaries %}
					<div class="swiper-slide">
						<ol class="three-line-summary">
							{% for line in summary.content %}
							<li>
								<i class="l{{ loop.index }}">{{ loop.index }}.</i>
								<span>{{ line }}</span>
							</li>
							{% endfor %}
						</ol>
						<div class="meta">
							<span>by @{{ summary.author }}</span>
							<span>추천 {{ summary.like }}</span>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: true
			});
			</script>
		</div>
		{% else %}
			<div class="no-content">데이터가 없습니다</div>
		{% endif %}
	</section>

	<section id="issue-rank" class="common-tile">
		{% set r = issue_rank(issue_score) %}

		<h3>이슈 등급</h3>
		<div class="content clearfix">
			<div class="fl">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="90" height="50" class="{{ r.rank | lower }}-rank">
						{% set tmp_angle = {'S': 1, 'A': 0.75, 'B': 0.5, 'C': 0.25} %}
						{% set pos = range_svg_pos(tmp_angle[r.rank], 38, 45, 45) %}
						<path d="M {{ pos }}
								A 38, 38, 0, 0, 0, 7, 45" class="pos" />

						<path d="M {{ pos }}
							A 38, 38, 0, 0, 1, 83, 45" class="rest" />

						</svg>
					</svg>
				</div>
				<div class="rank-container">
					<span class="label issue-rank {{ r.rank | lower }}-rank">
						<i>{{ r.rank }}</i>
						<span>{{ r.label }}</span>
					</span>
				</div>
			</div>
			<div class="comment fr">
				<h4>{{ r.mention }}</h4>
				<div>
					???년 들어 <strong>??번째</strong>로 핫한 사건이며, 
					전체 상위 <strong>??%</strong>안에 들어요
				</div>
				<div class="reference">
					<span>언론 언급수</span>
					<span class="value value-news">{{ '{0:,}'.format(article_count) }}</span>

					{# <span>SNS</span>
					<span class="value value-sns">X</span> #}

					<span>댓글</span>
					<span class="value value-comment">{{ '{0:,}'.format(comment_count) }}</span>
				</div>
			</div>

		</div>
	</section>

	<section id="emotions" class="common-tile">
		<h3>대중의 반응</h3>
		<div>
			{% if emotions %}
			<img src="./emotion-wordcloud.png" width="100%" style="max-width: 600px">
			{% endif %}
		</div>
	</section>

	<section id="emotions" class="common-tile">
		<h3>연관 키워드</h3>
		<div>
			<img src="./keyword-wordcloud.png" width="100%" style="max-width: 600px">
		</div>
	</section>
	
{% endblock %}