{% extends "/event_magazine/_layout.html" %}

{% block head %}
	{{ super() }}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	
{% endblock %}

{% block foot %}
	{{ super() }}
	<script type="text/javascript">
		var emotions = {{ json_encode(event.emotions) | safe }};
	</script>
	<script src="/js/event_summary.js"></script>
{% endblock %}

{% block content %}
	{{ super() }}

	<section id="related-people" class="common-tile">
		<h3>
			<i class="event-icon icon-people"></i>
			<span>관련 인물</span>
		</h3>
		<div class="content clearfix">
			{% for person in event.entities %}
				<div class="person fl {{ 'last'|safe if loop.last }}">
					<a href="/people/{{ person.id }}">
						<div class="clearfix">
							<div class="fl left">
								<span class="image" style="{{ person.repr_image(True) }}"></span>
							</div>
							<div class="fl right">
								<div>{{ person.nickname }}</div>
								<div class="role">{{ person.roles | join(',') }}</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</section>

	<section id="three-line-summaries" class="common-tile">
		<div class="more fr">
			<a href="./3lines">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</a>
		</div>
		<h3>
			<i class="event-icon icon-pen"></i>
			<span>3줄 요약</span>
		</h3>

		<div class="content">
		{% if event.summaries3line and event.summaries3line | length %}
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for summary in event.summaries3line %}
					<div class="swiper-slide">
						<ol class="three-line-summary">
							{% for line in summary.content %}
							<li>
								<i class="l{{ loop.index }}">{{ loop.index }}</i>
								<span>{{ line }}</span>
							</li>
							{% endfor %}
						</ol>
						<div class="meta">
							<span class="author">@{{ summary.author }}</span>
							<span>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>{{ summary.like }}</span>
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		{% else %}
			<div class="no-content">데이터가 없습니다</div>
		{% endif %}
	</section>

	<section id="issue-rank" class="common-tile">
		<h3>
			<i class="event-icon icon-rank"></i>
			<span>이슈 등급</span>
		</h3>
		<div class="content clearfix">
			<div class="fl">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="90" height="50" class="{{ event.issue_data.rank() }}-rank">
						{% set pos = range_svg_pos(1 - event.issue_data.top_percentile / 100, 38, 45, 45) %}
						<path d="M {{ pos }}
							A 38, 38, 0, 0, 1, 83, 45" class="rest" />

						<path d="M {{ pos }}
								A 38, 38, 0, 0, 0, 7, 45" class="pos" />

						
					</svg>
				</div>
				<div class="rank {{ event.issue_data.rank() }}-rank">
					{{ event.issue_data.rank() | upper }}
				</div>
				<div class="full-label {{ event.issue_data.rank() }}-rank">
					"{{ event.issue_data.full_label() }}"
				</div>
			</div>
			<div class="comment fr">
				<div class="circle-wrap clearfix {{ 'single' if not event.issue_data.ranking else '' }}">
					{% if event.issue_data.ranking %}
					<div class="fl">
						<div class="circle">
							<div class="content">
								<span>{{ event.date.year }}년</span><br>
								<strong>{{ event.issue_data.ranking }}등</strong>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="fl">
						<div class="circle">
							<div class="content">
								<span>전체 상위</span><br>
								<strong>{{ event.issue_data.top_percentile | int }}%</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="sources clearfix">
					<div class="fl">
						<i class="event-icon icon-news"></i>
						<span>{{ event.issue_data.f_article_count }}</span>
					</div>

					<div class="fl">
						<i class="event-icon icon-talk"></i>
						<span>{{ event.issue_data.f_comment_count }}</span>
					</div>

					<div class="fl">
						<i class="event-icon icon-share"></i>
						<span>{{ event.issue_data.f_sns_count }}</span>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section id="emotions" class="common-tile">
		<h3>
			<i class="event-icon icon-balloon"></i>
			<span>사람들의 반응</span>
		</h3>
		<div class="content clearfix">
			<div class="fl">
				<div class="icon-wrapper">
					<i class="event-icon icon-happy"></i>
				</div>
				<div class="container">
					<svg id="emotions-positive" width="100%" height="100%" font-size="13" text-anchor="middle"></svg>
				</div>
			</div>
			<div class="fr">
				<div class="icon-wrapper">
					<i class="event-icon icon-sad"></i>
				</div>
				<div class="container">
					<svg id="emotions-negative" width="100%" height="100%" font-size="13" text-anchor="middle"></svg>
				</div>
			</div>
		</div>
	</section>

	<section id="keywords" class="common-tile">
		<h3>
			<i class="event-icon icon-keyword"></i>
			<span>연관 키워드</span>
		</h3>
		<div>
			<img src="./keyword-wordcloud.png" width="100%" style="max-width: 600px">
		</div>
	</section>
	
{% endblock %}