{% macro event_tile(event, show_label=True, show_date=False) -%}
<div class="event-tile clearfix">
	<div class="fl" style="width: calc(100% - 111px)">
		<h4>
			<a href="/event/{{ event.id }}">{{ event.title }}</a>
		</h4>

		{% if show_date %}
		<div class="date">
			{{ event.date.split("-")[0:2] | join('.') }}
		</div>
		{% endif %}
		
		{% if show_label %}
		<div>
			{% set r = issue_rank(event.issue_score) %}
			<span class="label issue-rank {{ r.rank | lower }}-rank">
				<i>{{ r.rank }}</i>
				<span>{{ r.label }}</span>
			</span>

			<span class="label event-category category-{{ event_category_id(event.type) }}">{{ event.type }}</span>
		</div>
		{% endif %}

		<div class="emotion-bubbles">
			{% for emotion in event.emotions %}
				<span class="emotion">
					<i style="width: {{ emotion.weight * 16 }}px; height: {{ emotion.weight * 16 }}px; background-color: {{ rand_color() }}"></i>
					<span>{{ emotion.title }}</span>
				</span>
			{% endfor %}
		</div>
	</div>
	<div class="fr" style="width: 100px">
		{% if event.images[0] %}
		<img src="{{ event.images[0].path }}" width="105">
		{% endif %}
	</div>
</div>
{% endmacro %}