{% macro emotion_bubbles(emotions, max=4, max_size=13) -%}
	{% for emotion in emotions %}
		{% if loop.index <= max %}
		<span class="emotion">
			<i style="width: {{ emotion.weight * max_size }}px; height: {{ emotion.weight * max_size }}px; background-color: {{ rand_color() }}"></i>
			<span>{{ emotion.title }}</span>
		</span>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro issue_label(issue_data) -%}
	<span class="issue-label {{ issue_data.rank() }}-rank">
		<i class="hidden2">{{ issue_data.rank() | upper }}</i>
		<span class="hidden2">{{ issue_data.label() }}</span>
	</span>
{% endmacro %}


{% macro category_label(event, class_append='') -%}
	<span class="category-label category-{{ event.get_category() }} {{ class_append }}">
		<span class="hidden2">{{ l10n(event.category) }}</span>
	</span>
{% endmacro %}


{% macro event_tile(event, show_date=False, full_image=False) -%}
	<div class="event-tile {{ 'full-image' if full_image or '' }} clearfix">
		<div class="fl">
			<h4>
				<a href="{{ event.magazine_url() }}">{{ event.title }}</a>
			</h4>
			
			<div class="labels emotion-bubbles">
				{{ issue_label(event.issue_data) }}
				{{ category_label(event) }}
				{{ emotion_bubbles(event.emotions, 2) }}
			</div>

			{% if show_date %}
			<div class="date">
				{{ event.date.month }}월 {{ event.date.day }}일
			</div>
			{% endif %}
		</div>
		<div class="fr">
			{% if event.repr_image() %}
			<div class="image" style="{{ event.repr_image(css_mode=True, thumbnail=True) }}"></div>
			{% endif %}
		</div>
	</div>
{% endmacro %}


{% macro mini_event_tile(event) -%}
	<div class="event-tile mini-event-tile">
		<a href="{{ event.magazine_url() }}">
			<div>
				<div class="image" style="{{ event.repr_image(css_mode=True, thumbnail=True) }}"></div>
			</div>
			<h4>{{ event.title }}</h4>
		</a>
		<div class="labels">
			{{ issue_label(event.issue_data) }}
			{{ category_label(event) }}
		</div>
		<div class="emotion-bubbles">
			{{ emotion_bubbles(event.emotions, 2) }}
		</div>
	</div>
{% endmacro %}


{% macro gallery_event_tile(event) -%}
	<a href="{{ event.magazine_url() }}">
		<div class="event-tile gallery-event-tile">
			<div class="background" style="{{ event.repr_image(css_mode=True) }}"></div>
			
			<div class="labels">
				{{ issue_label(event.issue_data) }}
				{{ category_label(event, 'white') }}
			</div>

			<h4>{{ event.title }}</h4>
			<div class="emotion-bubbles">
				{{ emotion_bubbles(event.emotions, 2) }}
			</div>
		</div>
	</a>
{% endmacro %}

