@charset "utf-8";


/* Common Tile Section */
section.common-tile{
	position: relative;
	margin: 8px 0;
	padding: 14px 0;
	background-color: white;
	color: #444;
}

section.common-tile h3{
	margin: 0 0 5px 0;
	padding: 0 0 0 14px;
	font-size: 17px;
	font-weight: 400;
	color: black;
	vertical-align: middle;
}
section.common-tile h3 i.icon{ vertical-align: middle; margin-bottom: 2px }

section.common-tile > a > i.view-more{
	position: absolute;
	top: 3px;
	right: 6px;
	font-size: 32px;
	font-weight: 100;
	color: #92a5af;
}


section.common-tile > .content{
	padding: 0 16px;
}



/* Icon Sprite */
i.icon{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 1px;
	background-image: url('/images/icon_sprite.png');
	background-size: 75px auto;
}
i.icon.icon-people{ background-position: 0 0 }
i.icon.icon-news{ background-position: -15px 0 }
i.icon.icon-rank{ background-position: -30px 0 }
i.icon.icon-balloon{ background-position: -45px 0 }
i.icon.icon-keyword{ background-position: -60px 0 }

i.icon.icon-pen{ background-position: 0 -15px }
i.icon.icon-trend{ background-position: -15px -15px }
i.icon.icon-star{ background-position: -30px -15px }

i.icon.icon-news-small, i.icon.icon-talk, i.icon.icon-share{ width: 14px; height: 14px }
i.icon.icon-news-small{ background-position: 0 -30px }
i.icon.icon-talk{ background-position: -14px -30px }
i.icon.icon-share{ background-position: -28px -30px }

i.icon.icon-happy,
i.icon.icon-sad{ width: 20px; height: 20px }
i.icon.icon-happy{ background-position: 0 -44px }
i.icon.icon-sad{ background-position: -20px -44px }

/* Sidebar icons */
.sidebar-icon{
	display: inline-block;
	width: 55px;
	height: 55px;
	margin: 0 1px;
	background-image: url('/images/sidebar_icon_sprite.png');
	background-size: 200px auto;
}
.sidebar-icon.icon-weekly{ background-position: 0 0 }
.sidebar-icon.icon-people{ background-position: -55px 0 }
.sidebar-icon.icon-event{ background-position: -110px 0 }

.sidebar-icon.icon-facebook{ width: 50px; height:50px; background-position: 0 -55px }
.sidebar-icon.icon-naver{ width: 50px; height:50px; background-position: -50px -55px }
.sidebar-icon.icon-google{ width: 50px; height:50px; background-position: -100px -55px }
.sidebar-icon.icon-heart{ width: 50px; height:50px; background-position: -150px -55px }



/* Common Labels */
.label{
	margin: 1px 5px 1px 0;
	padding: 3px 7px 0px 8px;
	font-size: 12px;
	font-weight: 300;

	color: #666;
	border: 1px solid #bbb;
	border-radius: 15px;
	line-height: 13px;
}
.label.white{
	color: white;
	border-color: white;
}


/* Issue & Category label sprites */
.issue-label,
.category-label{
	display: inline-block;
	height: 16px;
	background-image: url('/images/label_sprite.png');
	background-size: 210px auto;
}
.issue-label{ width: 45px; }
.category-label{ width: 40px; }

.issue-label.s-rank{ background-position: 0 0 }
.issue-label.a-rank{ background-position: 0 -17px }
.issue-label.b-rank{ background-position: 0 -34px }
.issue-label.c-rank{ background-position: 0 -51px }

.category-label.category-entertain{ background-position: -46px 0; width: 32px }
.category-label.category-politic{ background-position: -46px -17px; width: 32px }
.category-label.category-sports{ background-position: -46px -34px }
.category-label.category-media{ background-position: -46px -51px }
.category-label.category-world{ background-position: -87px 0; width: 32px }
.category-label.category-others{ background-position: -87px -17px; width: 32px }
.category-label.category-news{ background-position: -87px -34px; width: 32px }

.category-label.white.category-entertain{ background-position: -128px 0 }
.category-label.white.category-politic{ background-position: -128px -17px }
.category-label.white.category-sports{ background-position: -128px -34px }
.category-label.white.category-media{ background-position: -128px -51px }
.category-label.white.category-world{ background-position: -169px 0 }
.category-label.white.category-others{ background-position: -169px -17px }
.category-label.white.category-news{ background-position: -169px -34px }


/* Star sprite */
.star-grade{
	display: inline-block;
	width: 70px;
	height: 12px;
	background-image: url('/images/star_grade_sprite.png');
	background-size: 70px auto;
}
.star-grade.grade10{ background-position: 0 0 }
.star-grade.grade9{ background-position: 0 -12px }
.star-grade.grade8{ background-position: 0 -24px }
.star-grade.grade7{ background-position: 0 -36px }
.star-grade.grade6{ background-position: 0 -48px }
.star-grade.grade5{ background-position: 0 -60px }
.star-grade.grade4{ background-position: 0 -72px }
.star-grade.grade3{ background-position: 0 -84px }
.star-grade.grade2{ background-position: 0 -96px }
.star-grade.grade1{ background-position: 0 -108px }
.star-grade.grade0{ background-position: 0 -120px }

.star-grade-big{
	display: inline-block;
	width: 210px;
	height: 36px;
	background-image: url('/images/star_grade_sprite_big.png');
	background-size: 210px auto;
}
.star-grade-big.grade10{ background-position: 0 0 }
.star-grade-big.grade9{ background-position: 0 -36px }
.star-grade-big.grade8{ background-position: 0 -72px }
.star-grade-big.grade7{ background-position: 0 -108px }
.star-grade-big.grade6{ background-position: 0 -144px }
.star-grade-big.grade5{ background-position: 0 -180px }
.star-grade-big.grade4{ background-position: 0 -216px }
.star-grade-big.grade3{ background-position: 0 -252px }
.star-grade-big.grade2{ background-position: 0 -288px }
.star-grade-big.grade1{ background-position: 0 -324px }
.star-grade-big.grade0{ background-position: 0 -360px }







/* Emotion Bubbles */
.emotion-bubbles .emotion{
	display: inline-block;
	padding: 1px;

	font-size: 12px;
	font-weight: 300;
	vertical-align: middle;
	color: #777;
}
.emotion-bubbles .emotion > span{ vertical-align: middle; }
.emotion-bubbles .emotion > i{
	display: inline-block;
	background-color: #ccc;
	border-radius: 50%;
	vertical-align: middle;
}




/* Event Tile */
.event-tile{

}
.event-tile > .fl{ width: calc(100% - 116px) }
.event-tile > .fr{ width: 110px }
.event-tile > .fr img{ width: 100% }
.event-tile > .fr .image{ width: 110px }

.event-tile .image{
	width: 120px;
	height: 80px;
	background-color: transparent;
	background-size: auto 80px;
	background-position: center 10%;
	background-repeat: no-repeat;
}

.event-tile h4{
	margin: 0 0 5px;
	padding: 0;
	font-size: 18px;
	font-weight: 300;
}
.event-tile a{
	color: #333;
	text-decoration: none;
	transition: all 0.3s;
}
.event-tile a:hover{ color: #777 }

.event-tile .labels.emotion-bubbles .emotion{ vertical-align: top }

.event-tile.full-image{ padding-top: 14px }
.event-tile.full-image .content{ padding-bottom: 4px }
.event-tile.full-image .image{ margin: -14px -10px 0 0; height: 87px; background-size: auto 87px; }

.event-tile .date{
	margin: 2px 0 2px 2px;
	font-size: 11px;
	text-align: left;
	color: #aaa;
	font-weight: 100;
}

.more-btn{
	background-color: #fafafa;
	text-align: center;
	padding: 8px 0;
	border-top: 1px solid #e4e5e6;
	border-bottom: 1px solid #e4e5e6;
}
.more-btn .content span{ color: #4a4a4a; font-size: 15px; font-weight: 300; vertical-align: middle; }
.more-btn .content i{ color: #aeaeae; font-size: 20px; vertical-align: middle; }


/* Mini Event Tile (extends .event-tile) */
.mini-event-tile{
	width: 100px;
}
.mini-event-tile h4{
	margin: 5px 0;
	font-size: 15px;
	text-align: center;
}
.mini-event-tile .image{ width: 100%; }
.mini-event-tile .labels{ text-align: center; }
.mini-event-tile .emotion-bubbles{ margin-top: -3px; text-align: center; }



/* Gallery Event Tile (extends .event-tile) */
.gallery-event-tile{
	position: relative;
	height: 160px;
}

.gallery-event-tile .background{
	height: 100%;
	filter: brightness(60%);
	z-index: 1;
}
.gallery-event-tile h4,
.gallery-event-tile .labels,
.gallery-event-tile .emotion-bubbles{
	position: absolute;
	z-index: 3;
	font-weight: 100;
}

.gallery-event-tile h4{
	color: white;
	left: 15px;
	bottom: 10px;
	width: calc(100% - 100px);
}
.gallery-event-tile .labels{ top: 10px; right: 5px }
.gallery-event-tile .emotion-bubbles{ bottom: 10px; right: 10px; }
.gallery-event-tile .emotion-bubbles .emotion{ color: white }



/* Index Bubble (used in 3line-summary) */
i.index-bubble{
	display: inline-block;
	width: 19px;
	margin-right: 3px;
	padding: 3px 0px 1px 1px;

	text-align: center;
	font-size: 14px;
	font-style: normal;
	vertical-align: middle;

	border-radius: 20px 20px 0 20px;

	background-color: #b1bec6;
	color: white;
	font-weight: 200;
}
i.index-bubble.light{
	background-color: #eceff1;
	color: black;
	font-weight: 400;
}



/* Person Tile */
.person-tile{
	font-weight: 300;
}
.person-tile .content{ margin: 10px 0 0 0 }
.person-tile .content.left{ margin-right: 10px }
.person-tile .content.right{ margin-left: 10px }
.person-tile .content.fr{ text-align: right }

.person-tile .image{
	display: inline-block;
	width: 55px;
	height: 55px;

	border: 1px solid #ccc;
	border-radius: 50%;
	background-image: url('/images/avatar.png');
	background-size: 55px auto;
	background-position: center center;
}

.person-tile h4{
	margin: 0 0 2px 0;
	padding: 0;
	color: #444;
	font-size: 16px;
	font-weight: 300;
}
.person-tile h4 .sub{ font-size: 13px; color: #666 }

.person-tile .role{
	font-size: 13px;
	color: #888;
}



/* Mini Person Tile (extends .person-tile) */
.mini-person-tile{
}
.mini-person-tile .image{
	margin: 0 auto;
	width: 65px;
	height: 65px;
	background-color: #555;
	background-size: auto 65px;
	background-position: center;
	border-radius: 50%;
}

.mini-person-tile h4{
	margin: 0;
	padding: 8px 0 1px 0;
	font-weight: 300;
	font-size: 17px;
}

.mini-person-tile .extra-info{
	color: #ffe8b0;
	font-size: 10px;
}


/* Grid Image Tile */

.grid-image-tile{
	position: relative;
	width: 170px;
	color: white;
	font-weight: 100;
}

.grid-image-tile .background-filter{
	position: absolute;
	width: 100%;
	height: 85px;
	bottom: 0;
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,.85), rgba(0,0,0,0));
	background: linear-gradient(0deg, rgba(0,0,0,.85), rgba(0,0,0,0));
	z-index: 2;
}
.grid-image-tile .content{
	position: absolute;
	bottom: 0;
	z-index: 3;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}


/* Board Tile Header */
.board-tile-header{ padding: 0 0 10px 0 }

.board-tile-header button.write{
	margin: 15px 15px 4px;
	padding: 6px 0;
	border: none;
	outline: none;
	width: 180px;
	background-color: #333;
	color: white;
	font-size: 14px;
	font-weight: 300;
	border-radius: 30px;
}

.board-tile-header .fr{
	margin: 19px 15px 0 0;
}

.board-tile-header .fr .filter-btn{
	display: inline-block;
	margin-left: 8px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
}
.board-tile-header .fr .filter-btn.active{ font-weight: 400 }

.board-tile-header .fr .filter-btn > .radio{
	display: inline-block;
	padding: 5px;
	background-color: #b1bec6;
	border-radius: 50%;
}
.board-tile-header .fr .filter-btn.active > .radio{ background-color: #333 }

.board-tile-header .fr .filter-btn > .radio i{
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: #cfd9db;
	border-radius: 50%;
}
.board-tile-header .fr .filter-btn.active > .radio i{ background-color: white }



/* Board Tile */
.board-tile{
	margin-bottom: 8px;
	background-color: white;
}

.board-tile .meta{
	padding: 8px 12px;
	border-top: 1px solid #ddd;
	font-weight: 300;
}

.board-tile .meta h4{
	display: inline-block;
	margin: 0 4px 0 0;
	font-size: 15px;
	font-weight: 300;
	vertical-align: middle;
}
.board-tile .meta span{ vertical-align: middle; }
.board-tile .meta .date{ font-size: 11px; color: #888; }
.board-tile .meta .avatar{ vertical-align: middle; border-radius: 50%; }

.board-tile .meta .btn-container{ text-align: right }
.board-tile .meta .like-btn,
.board-tile .meta .dislike-btn{
	padding: 4px 7px 2px;
	border: 1px solid #bbb;
	border-radius: 15px;
	outline: none;
	background-color: white;
	font-weight: bold;
	font-size: 12px;
}
.board-tile .meta .like-btn{ color: #29abe5 }
.board-tile .meta .dislike-btn{ color: #e84f41 }



/* Progress */
.progress-loader,
.progress-loader:before,
.progress-loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.progress-loader {
	color: #ffffff;
	font-size: 10px;
	margin: 0 auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.progress-loader:before,
.progress-loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.progress-loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.progress-loader:after {
	left: 3.5em;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}



/* Popup */
.popup{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 700;
}
.popup > .background{
	height: 100%;
	opacity: 0.6;
	filter: alpha(opacity=60);
	background-color: black;
}
.popup > .content{
	position: relative;
	top: 40%;
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: white;
}
.popup form{ margin: 0 }

.popup h4{
	margin: 0;
	padding: 14px 0 12px;
	background-color: #333;
	color: white;
	font-size: 17px;
	font-weight: 300;
	text-align: center;
}
.popup .btn-container{
	background-color: #e3e4e8;
	padding: 10px;
	text-align: center;
}
.popup .btn-container button{
	width: 120px;
	padding: 5px 0 3px;
	background-color: white;
	border: 1px solid #d0d8db;
	border-radius: 25px;
	outline: none;
}
.popup .btn-container button.submit{ color: white; background-color: #333; font-weight: 300 }


/* Responsive Control */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.issue-label,
	.category-label{
		background-image: url('/images/label_sprite@2x.png');
	}
}
