@charset "utf-8";



.label{
	font-size: 13px;
	margin: 1px 7px 1px 0;
	padding: 2px 5px 1px;
	background-color: #ddd;
	border-radius: 1px;
	font-weight: 300;
}

.label.issue-rank{ color: white }
.label.issue-rank > i{
	display: inline-block;
	width: 14px;
	height: 13px;
	padding-top: 1px;

	font-size: 12px;
	font-style: normal;
	font-weight: bold;

	background-color: white;
	border-radius: 50%;
	text-align: center;
}

.label.issue-rank.s-rank{ background-color: rgba(255, 51, 102, .7) }
.label.issue-rank.s-rank > i{ color: rgb(255, 51, 102) }
.label.issue-rank.a-rank{ background-color: rgba(255, 102, 0, .7) }
.label.issue-rank.a-rank > i{ color: rgb(255, 102, 0) }
.label.issue-rank.b-rank{ background-color: rgba(0, 204, 153, .7) }
.label.issue-rank.b-rank > i{ color: rgb(0, 204, 153) }


.emotion-bubbles .emotion{
	display: inline-block;
	padding: 1px;

	font-size: 14px;
	font-weight: 300;
	vertical-align: middle;
}
.emotion-bubbles .emotion > span{ vertical-align: middle; }
.emotion-bubbles .emotion > i{
	display: inline-block;
	background-color: #ccc;
	border-radius: 50%;
	vertical-align: middle;
}


.event-tile{

}

.event-tile h4{
	margin: 0 0 7px;
	padding: 0;
	font-weight: 300;
	font-size: 20px;
}

.event-tile h4 a{
	color: #333;
	text-decoration: none;
}


.event-tile .emotion-bubbles{
	margin-top: 3px;
}

