@charset "utf-8";



.label{
	font-size: 13px;
	margin: 1px 7px 1px 0;
	padding: 2px 5px 1px;
	background-color: #ddd;
	border-radius: 1px;
	font-weight: 300;
}

/* deprecicated */
.label.issue-rank{ color: white }
.label.issue-rank > i{
	display: inline-block;
	width: 14px;
	height: 13px;
	padding-top: 1px;

	font-size: 12px;
	font-style: normal;
	font-weight: bold;

	background-color: white;
	border-radius: 50%;
	text-align: center;
}
.label.issue-rank.s-rank{ background-color: rgba(255, 51, 102, .7) }
.label.issue-rank.s-rank > i{ color: rgb(255, 51, 102) }
.label.issue-rank.a-rank{ background-color: rgba(255, 102, 0, .7) }
.label.issue-rank.a-rank > i{ color: rgb(255, 102, 0) }
.label.issue-rank.b-rank{ background-color: rgba(0, 204, 153, .7) }
.label.issue-rank.b-rank > i{ color: rgb(0, 204, 153) }
.label.issue-rank.c-rank{ background-color: rgba(84, 72, 171, 0.7) }
.label.issue-rank.c-rank > i{ color: rgb(84, 72, 171) }


.issue-label,
.category-label{
	display: inline-block;
	height: 16px;
	background-image: url('/images/label_sprite.png');
	background-size: 210px auto;
}
.issue-label{ width: 45px; }
.category-label{ width: 40px; }

.issue-label.s-rank{ background-position: 0 0 }
.issue-label.a-rank{ background-position: 0 -17px }
.issue-label.b-rank{ background-position: 0 -34px }
.issue-label.c-rank{ background-position: 0 -51px }

.category-label.category-a{ background-position: -46px 0; width: 32px }
.category-label.category-b{ background-position: -46px -17px; width: 32px }
.category-label.category-c{ background-position: -46px -34px }
.category-label.category-d{ background-position: -46px -51px }
.category-label.category-e{ background-position: -87px 0; width: 32px }
.category-label.category-f{ background-position: -87px -17px; width: 32px }

.category-label.black.category-a{ background-position: -128px 0 }
.category-labelblack.category-b{ background-position: -128px -17px }
.category-labelblack.category-c{ background-position: -128px -34px }
.category-labelblack.category-d{ background-position: -128px -51px }
.category-labelblack.category-e{ background-position: -169px 0 }
.category-labelblack.category-f{ background-position: -169px -17px }



/* deprecicated */
.label.event-category{ color: white }
.label.event-category.category-a{ background-color: rgba(255, 51, 51, .7) }
.label.event-category.category-b{ background-color: rgba(102, 102, 204, .7) }
.label.event-category.category-c{ background-color: rgba(18, 239, 102, .7) }
.label.event-category.category-d{ background-color: rgba(255, 153, 0, .7) }
.label.event-category.category-e{ background-color: rgba(0, 102, 102, .7) }



.emotion-bubbles .emotion{
	display: inline-block;
	padding: 1px;

	font-size: 12px;
	font-weight: 300;
	vertical-align: middle;
	color: #777;
}
.emotion-bubbles .emotion > span{ vertical-align: middle; }
.emotion-bubbles .emotion > i{
	display: inline-block;
	background-color: #ccc;
	border-radius: 50%;
	vertical-align: middle;
}


.event-tile{

}
.event-tile > .fl{ width: calc(100% - 106px) }
.event-tile > .fr{ width: 100px }
.event-tile > .fr img{ width: 100% }

.event-tile h4{
	margin: 0 0 4px;
	padding: 0;
	font-size: 19px;
	font-weight: 300;
}
.event-tile a{
	color: #333;
	text-decoration: none;
}
.event-tile .date{
	margin: -6px 0 4px 0;
	font-size: 13px;
	color: #999;
}
.event-tile .labels.emotion-bubbles .emotion{ vertical-align: top }



.mini-event-tile{
	width: 100px;
}
.mini-event-tile h4{
	margin: 5px 0;
	font-size: 15px;
	text-align: center;
}
.mini-event-tile .labels{ text-align: center; }
.mini-event-tile .emotion-bubbles{ margin-top: -3px; text-align: center; }


.gallery-event-tile{
	position: relative;
	height: 160px;
}

.gallery-event-tile .background{
	height: 100%;
	filter: brightness(60%);
	z-index: 1;
}
.gallery-event-tile h4,
.gallery-event-tile .labels,
.gallery-event-tile .emotion-bubbles{
	position: absolute;
	z-index: 3;
	font-weight: 100;
}

.gallery-event-tile h4{
	color: white;
	left: 15px;
	bottom: 10px;
	width: calc(100% - 100px);
}
.gallery-event-tile .labels{ top: 10px; right: 5px }
.gallery-event-tile .emotion-bubbles{ bottom: 10px; right: 10px; }
.gallery-event-tile .emotion-bubbles .emotion{ color: white }


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.issue-label,
	.category-label{
		background-image: url('/images/label_sprite@2x.png');
	}
}
