@charset "utf-8";

header{
	position: absolute;
}

header .logo{ background-position: -200px -64px }
header .menu-bar{ background-position: -400px -22px }


nav.magazine-nav ul li.selected{
	color: #ff7044;
	border-bottom-color: #ff7044;
}
.popup h4{ background-color: #ff7044 }
.popup .btn-container button.submit{ background-color: #ff7044 }


/* Common Header */
section#event-header{
	position: relative;
	height: 210px;
}

section#event-header .background{
	height: inherit;
	filter: brightness(45%);
}

section#event-header .content{
	position: absolute;
	bottom: 10px;

	width: 300px;
	color: white;
}
section#event-header .content h1,
section#event-header .content h3{
	font-size: 36px;
	font-weight: 100;
	margin: 0;
	padding: 3px 0 10px 20px;
}
section#event-header .content h3{ font-size: 13px; padding-bottom: 0 }
section#event-header .content h3 span{ vertical-align: middle; }
section#event-header .content h3 .category-label{
	margin: 0 0 1px 2px;
	vertical-align: middle;
}



/* 관련 인물 */
section#related-people{

}
section#related-people .person{ width: 50% }
section#related-people .person a{
	display: inline-block;
	width: 150px;
	text-decoration: none;
}


/* 3줄 요약 */
ol.three-line-summary{
	list-style: none;
	margin: 0;
	padding: 0;
}

ol.three-line-summary li{
	padding: 4px 0;
	font-size: 15px;
}

ol.three-line-summary li span{
	display: inline-block;
	margin-top: 3px;
	vertical-align: middle;
	color: #333;
	font-weight: 300;
	width: calc(100% - 30px);
	vertical-align: top;
}
ol.three-line-summary li i{ margin-right: 5px; vertical-align: top }


section#three-lines{
	background-color: #788898;
	color: white;
	padding-bottom: 4px;
}
section#three-lines h3{ color: white; font-weight: 100 }
section#three-lines ol.three-line-summary li span{ color: white; font-weight: 100 }

section#three-lines .swiper-container{ height: 130px }
section#three-lines .swiper-pagination-bullet{ border: 1px solid white; background: none; opacity: 1 }
section#three-lines .swiper-pagination-bullet-active{ background: white }
section#three-lines .swiper-pagination-bullet{ width: 7px; height: 7px; }

section#three-lines .more{ margin: -5px 8px 0 0; font-size: 25px;}
section#three-lines .more a{ color: white; text-decoration: none; }

section#three-lines .no-content{ color: white; font-weight: 100; padding: 40px 0 53px }

section#three-lines .meta{
	margin-top: 4px;
	text-align: right;
	font-size: 12px;
	color: white;
	font-weight: 100;
}
section#three-lines .meta .author{
	display: inline-block;
	margin-right: 4px;
}
section#three-lines .meta .action{
	display: inline-block;
	margin-left: 4px;
}



/* 이슈 랭크 */
section#issue-rank{
	position: relative;
}

section#issue-rank .content{
	position: relative;
	max-width: 320px;
	margin: 0 auto 10px;
}

section#issue-rank > .content > .fl{
	margin: 8px 0 0 7px;
}

section#issue-rank svg path{
	fill: none;
	stroke: #333;
	stroke-opacity: .9;
	stroke-width: 10;
	stroke-linejoin: round;
	stroke-linecap: round;
}
section#issue-rank svg path.rest{ stroke: #bbb }

section#issue-rank .rank{
	position: absolute;
	top: 42px;
	left: 55px;

	width: 28px;
	line-height: 24px;
	font-size: 23px;

	text-align: center;
	padding: 5px 0 0 1px;
	background: #666;
	color: white;
	border-radius: 50%;
}

section#issue-rank .full-label{
	width: 110px;
	margin: 24px 0 0 -10px;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 17px;
}

section#issue-rank svg.s-rank path.pos{ stroke: #e6447b }
section#issue-rank svg.a-rank path.pos{ stroke: #ff6600 }
section#issue-rank svg.b-rank path.pos{ stroke: #07ce9c }
section#issue-rank svg.c-rank path.pos{ stroke: #5448ab }

section#issue-rank .rank.s-rank{ background: #ec588a; background: linear-gradient(145deg, #ec588a 0%, #a72651 100%); }
section#issue-rank .rank.a-rank{ background: #ff6600; background: linear-gradient(145deg, #ff9d5c 0%, #d65703 100%); }
section#issue-rank .rank.b-rank{ background: #07ce9c; background: linear-gradient(145deg, #07ce9c 0%, #05b589 100%); }
section#issue-rank .rank.c-rank{ background: #5448ab; background: linear-gradient(145deg, #8b7ee6 0%, #392e86 100%); }

section#issue-rank .full-label.s-rank{ color: #e0316c }
section#issue-rank .full-label.a-rank{ color: #ff6600 }
section#issue-rank .full-label.b-rank{ color: #07ce9c }
section#issue-rank .full-label.c-rank{ color: #5448ab }

section#issue-rank .comment{
	width: calc(100% - 110px);
	margin-top: 0;
	font-size: 13px;
	color: #333;
}
section#issue-rank .circle-wrap{ margin: 0 12px }
section#issue-rank .circle-wrap .fl{ width: 50% }
section#issue-rank .circle-wrap.single .fl{ width: 100% }

section#issue-rank .circle-wrap .circle{
	width: 76px;
	height: 76px;
	margin: 0 auto;
	background-color: #edeef2;
	border-radius: 50%;
}
section#issue-rank .circle-wrap .circle .content{
	width: 100%;
	padding: 24px 0;
	text-align: center;
	font-size: 16px;
	color: #777;
}
section#issue-rank .circle-wrap .circle .content strong{ color: #fd7346; font-weight: normal; }

section#issue-rank .sources{
	margin: 10px 0 0 50px;
	font-size: 14px;
	color: #666;
}
section#issue-rank .sources .fl{
	width: 65px;
	text-align: left;
}
section#issue-rank .sources span{ display: inline-block; vertical-align: middle; }
section#issue-rank .sources i{ vertical-align: middle; }



/* 사람들의 반응 */
section#emotions{

}

section#emotions .content{
	position: relative;
	padding: 0 15px 15px;
	height: 150px;
}
/*section#emotions .content > .fl,
section#emotions .content > .fr{ width: 50%; position: relative; }

section#emotions .content .icon-wrapper{
	position: absolute;
	padding: 4px;
	background-color: white;
	border: 1px solid #e6e7e9;
	border-radius: 50%;
	z-index: 5;
}
section#emotions .content > .fl .icon-wrapper,
section#emotions .content > .fl .container{ top: 0; left: 0 }
section#emotions .content > .fr .icon-wrapper,
section#emotions .content > .fr .container{ top: 0; right: 0 }

section#emotions .content .container{
	position: absolute;
	width: calc(100% - 17px);
	height: 150px;
	margin: 10px;
	border: 1px solid #e6e7e9;
	border-radius: 6px;
}*/

section#emotions .content .container{
	height: 140px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #e6e7e9;
	border-radius: 6px;
}

section#emotions .content svg g text{ fill: white; font-weight: 100 }




/* 연관 키워드 */
section#keywords{
}
section#keywords > div{ padding: 0 15px; text-align: center; }
section#keywords img{ max-width: 100% }



/* 사진 (탭) */
section#images{
}

section#images ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

section#images ul li{
	width: 174px;
}

section#images ul li img{ width: 100% }




/* 관련 기사 (탭) */
section#related-news{
	margin: 10px 0;
}

section#related-news ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

section#related-news ul a{ display: block; text-decoration: none; }

section#related-news ul li{
	min-height: 85px;
}
section#related-news ul li .content h4{ margin: 3px 0; font-weight: 200; font-size: 15px}
section#related-news ul li .content .source{ font-size: 13px; }

section#related-news ul li.no-img{
	min-height: initial;
	background-color: white;
	color: black;
	font-weight: 300;
}

section#related-news ul li.no-img .content{
	position: static;
	padding-bottom: 18px;
}

section#related-news ul li.no-img .content h4{ font-weight: 400 }
section#related-news ul li.no-img .content .source{ color: #666 }




/* 3줄요약 탭 */
#three-lines-writing-popup{
}
#three-lines-writing-popup .content{ margin-top: -50px }
#three-lines-writing-popup ol{
	list-style: none;
	margin: 0;
	padding: 5px 15px 15px;
}
#three-lines-writing-popup ol li{
	margin: 9px 0;
}
#three-lines-writing-popup ol li input{
	width: 250px;
	width: calc(100% - 35px);
	margin-left: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
}

section#three-lines-header button.write,
section#three-lines-header .fr > span.active > .radio{ background-color: #f37046 }


section#three-lines-full .board-tile .three-line-summary{ padding: 12px 13px }



@media(min-width: 900px) {
	header{
		/*border-bottom: 2px solid #ff7044;*/
	}

	header .logo{
		background-position: 0 -64px;
	}

	header .logo{ margin-left: -446px }

	section#event-header{
		height: 250px;
	}
	section#keywords img{ height: 170px; width: auto }
}
