@charset "utf-8";

header{
	position: absolute;
	border-bottom-color: white;
	border-bottom-color: rgba(255, 255, 255, 0.5);
	border-bottom: none;
	z-index: 11;
}

header .logo{
	background-position: 0 -96px;
}

header .fr .fa-bars{
	color: white;
}

nav.magazine-nav ul li.selected{
	color: #ff7044;
	border-bottom-color: #ff7044;
}


/* Event Icon Sprite */
i.event-icon{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 1px;
	background-image: url('/images/event_icon_sprite.png');
	background-size: 75px auto;
}
i.event-icon.icon-people{ background-position: 0 0 }
i.event-icon.icon-pen{ background-position: -15px 0 }
i.event-icon.icon-rank{ background-position: -30px 0 }
i.event-icon.icon-balloon{ background-position: -45px 0 }
i.event-icon.icon-keyword{ background-position: -60px 0 }

i.event-icon.icon-news,
i.event-icon.icon-talk,
i.event-icon.icon-share{ width: 14px; height: 14px }
i.event-icon.icon-news{ background-position: 0 -15px }
i.event-icon.icon-talk{ background-position: -14px -15px }
i.event-icon.icon-share{ background-position: -28px -15px }

i.event-icon.icon-happy,
i.event-icon.icon-sad{ width: 20px; height: 20px }
i.event-icon.icon-happy{ background-position: 0 -30px }
i.event-icon.icon-sad{ background-position: -20px -30px }


/* Common Header */
section#event-header{
	position: relative;
	height: 210px;
}

section#event-header .background{
	height: 210px;
	filter: brightness(45%);
}

section#event-header .content{
	position: absolute;
	bottom: 10px;

	width: 300px;
	color: white;
}
section#event-header .content h1,
section#event-header .content h3{
	font-size: 36px;
	font-weight: 100;
	margin: 0;
	padding: 3px 0 7px 20px;
}
section#event-header .content h3{ font-size: 13px; padding-bottom: 0 }
section#event-header .content h3 span{ vertical-align: middle; }
section#event-header .content h3 .category-label{
	margin: 0 0 1px 2px;
	vertical-align: middle;
}



/* 관련 인물 */
section#related-people{

}

section#related-people .person{ width: 50%; }
section#related-people .person a{ color: black; text-decoration: none; }

section#related-people .person .left{ margin-right: 10px; }

section#related-people .person .left .image{
	display: inline-block;
	width: 55px;
	height: 55px;

	border: 1px solid #ccc;
	border-radius: 50%;
	background-image: url('/images/person.png');
	background-size: 55px auto;
	background-position: center center;
}

section#related-people .person .right{
	margin: 10px 0 0 0;
}

section#related-people .person .right .role{
	font-size: 13px;
	color: #666;
}




/* 3줄 요약 */
ol.three-line-summary{
	list-style: none;
	margin: 0;
	padding: 0;
}

ol.three-line-summary li{
	padding: 4px 0;
	font-size: 15px;
}

ol.three-line-summary li i{
	display: inline-block;
	width: 19px;
	margin-right: 3px;
	padding: 2px 1px 0px 1px;

	text-align: center;
	background-color: #eceff1;
	color: black;
	font-style: normal;
	vertical-align: middle;

	border-radius: 20px 20px 0 20px;
}

ol.three-line-summary li span{
	display: inline-block;
	margin-top: 3px;
	vertical-align: middle;
	color: #333;
}

section#three-line-summaries{
	background-color: #788898;
	color: white;
	padding-bottom: 4px;
}
section#three-line-summaries h3{ color: white; font-weight: 100 }
section#three-line-summaries ol.three-line-summary li span{ color: white; font-weight: 100 }

section#three-line-summaries .swiper-container{ height: 130px }
section#three-line-summaries .swiper-pagination-bullet{ border: 1px solid white; background: none; opacity: 1 }
section#three-line-summaries .swiper-pagination-bullet-active{ background: white }
section#three-line-summaries .swiper-pagination-bullet{ width: 7px; height: 7px; }

section#three-line-summaries .more{ margin: -5px 8px 0 0; font-size: 25px;}
section#three-line-summaries .more a{ color: white; text-decoration: none; }

section#three-line-summaries .no-content{ color: white; font-weight: 100 }

section#three-line-summaries .meta{
	margin-top: 4px;
	text-align: right;
	font-size: 13px;
	color: white;
	font-weight: 100;
}
section#three-line-summaries .meta .author{
	display: inline-block;
	margin-right: 4px;
}


/* 3줄요약 탭 */
section#three-line-summaries-full{ padding: 0 }
section#three-line-summaries-full .write-container{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

section#three-line-summaries-full button.write{
	margin: 15px 15px 4px;
	padding: 7px 0;
	border: 1px solid #ccc;
	outline: none;
	width: calc(100% - 30px);
	background-color: white;

}

section#three-line-summaries-full .three-line-tile{
	border-bottom: 1px solid #ddd;
	padding: 15px 15px 12px;
}
section#three-line-summaries-full .three-line-tile h4{
	display: inline-block;
	margin: 0 4px 3px 0;
	font-weight: normal;
}
section#three-line-summaries-full .three-line-tile .date{
	font-size: 12px;
	color: #666;
}

section#three-line-summaries-full .three-line-tile .btn-container{
	text-align: right;
}

section#three-line-summaries-full .three-line-tile .like-btn,
section#three-line-summaries-full .three-line-tile .hate-btn{
	padding: 3px 5px 1px;
	border: 1px solid #ccc;
	outline: none;
	background-color: white;
	font-weight: bold;
	font-size: 12px;
}
section#three-line-summaries-full .three-line-tile .like-btn{ color: #e94a23 }
section#three-line-summaries-full .three-line-tile .hate-btn{ color: #007acf }


/* 이슈 랭크 */
section#issue-rank{
	position: relative;
}

section#issue-rank > .content > .fl{
	margin: 8px 0 0 7px;
}

section#issue-rank svg path{
	fill: none;
	stroke: #333;
	stroke-opacity: .9;
	stroke-width: 10;
	stroke-linejoin: round;
	stroke-linecap: round;
}
section#issue-rank svg path.rest{ stroke: #bbb }

section#issue-rank .rank{
	position: absolute;
	top: 78px;
	left: 54px;

	width: 28px;
	line-height: 24px;
	font-size: 23px;

	text-align: center;
	padding: 4px 0 0;
	background: #666;
	color: white;
	border-radius: 50%;
}

section#issue-rank .full-label{
	width: 110px;
	margin: 24px 0 0 -10px;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 17px;
}

section#issue-rank svg.s-rank path.pos{ stroke: #e0316c }
section#issue-rank svg.a-rank path.pos{ stroke: #ff6600 }
section#issue-rank svg.b-rank path.pos{ stroke: #07ce9c }
section#issue-rank svg.c-rank path.pos{ stroke: rgb(84, 72, 171) }

section#issue-rank .rank.s-rank{ background: #ec588a; background: linear-gradient(145deg, #ec588a 0%, #a72651 100%); }
section#issue-rank .rank.a-rank{ background: #ff6600; background: linear-gradient(135deg, #ff6600 0%, #ff6600 100%); }
section#issue-rank .rank.b-rank{ background: #07ce9c; background: linear-gradient(135deg, #07ce9c 0%, #05b589 100%); }
section#issue-rank .rank.c-rank{ background: #ec588a; background: linear-gradient(135deg, #ec588a 0%, #e0316c 100%); }

section#issue-rank .full-label.s-rank{ color: #e0316c }
section#issue-rank .full-label.a-rank{ color: #ff6600 }
section#issue-rank .full-label.b-rank{ color: #07ce9c }
section#issue-rank .full-label.c-rank{ color: rgb(84, 72, 171) }

section#issue-rank .comment{
	width: calc(100% - 110px);
	margin-top: 0px;
	font-size: 13px;
	color: #333;
}
section#issue-rank .circle-wrap{ margin: 0 12px }
section#issue-rank .circle-wrap .fl{ width: 50% }
section#issue-rank .circle-wrap.single .fl{ width: 100% }

section#issue-rank .circle-wrap .circle{
	width: 76px;
	height: 76px;
	margin: 0 auto;
	background-color: #edeef2;
	border-radius: 50%;
}
section#issue-rank .circle-wrap .circle .content{
	width: 100%;
	padding: 24px 0;
	text-align: center;
	font-size: 16px;
	color: #555;
}
section#issue-rank .circle-wrap .circle .content strong{ color: #fd7346; font-weight: normal; }

section#issue-rank .sources{
	margin: 8px 0 0 10px;
	font-size: 14px;
	color: #666;
}
section#issue-rank .sources .fl{
	width: 33%;
	text-align: center;
}
section#issue-rank .sources span{ display: inline-block; vertical-align: middle; }
section#issue-rank .sources i{ vertical-align: middle; }



/* 사람들의 반응 */
section#emotions{

}

section#emotions .content{
	position: relative;
	padding: 0 15px 15px;
	height: 150px;
}
section#emotions .content > .fl,
section#emotions .content > .fr{ width: 50%; position: relative; }

section#emotions .content .icon-wrapper{
	position: absolute;
	padding: 4px;
	background-color: white;
	border: 1px solid #e6e7e9;
	border-radius: 50%;
	z-index: 5;
}
section#emotions .content > .fl .icon-wrapper,
section#emotions .content > .fl .container{ top: 0; left: 0 }
section#emotions .content > .fr .icon-wrapper,
section#emotions .content > .fr .container{ top: 0; right: 0 }

section#emotions .content .container{
	position: absolute;
	width: calc(100% - 17px);
	height: 150px;
	margin: 10px;
	border: 1px solid #e6e7e9;
	border-radius: 6px;
}

/* 연관 키워드 */
section#keywords{
}
section#keywords > div{ padding: 0 15px }



/* 관련 기사 (탭) */
section#related-news{
	margin: 10px 0;
}

section#related-news ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section#related-news ul li{
	position: relative;
	margin: 3px 0;
	padding: 15px 10px;
	background-color: white;
	color: #666;
	font-size: 14px;
}

section#related-news ul li .image{
	position: absolute;
}

section#related-news ul li .content{
	margin-left: 90px;
}
section#related-news ul li .content.no-news{ margin-left: 10px }

section#related-news ul li h4{
	margin: 0 0 3px 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
}
section#related-news ul li h4 a{ color: black; text-decoration: none; }
section#related-news ul li h4 a:hover{ color: #666 }

section#related-news ul li .source{
	margin-top: 5px;
	color: #333;
}