@charset "utf-8";
@import url(/css/nanumbarungothic.css);

/* normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
/*code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}*/
pre{white-space:pre-wrap;}
q{quotes:\201C \201D \2018 \2019;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure{margin:0;}
legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
/* end of normalize.css */


a img{ border:none; outline:none }

.clearfix{ *zoom:1 }
.clearfix:after{ display:block; clear:both; content:"" }
.fl{ float:left }
.fr{ float:right }
.bold{ font-weight: bold }
.hidden{ visibility: hidden }
.hidden2{ display: none }

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #e3e4e8;
	font-family: 'Nanum Barun Gothic', sans-serif;
	/*font-family: 'Spoqa Han Sans', sans-serif;*/
}

#wrap{
	background-color: #e3e4e8;
}

#mask{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 900;
}

.no-content{
	padding: 70px 0;
	font-size: 16px;
	color: #666;
	text-align: center;
}

.background{
	position: absolute;
	width: 100%;
	background-color: #999;
	background-size: 100% auto;
	background-position: center 40%;
}


/* Header */
header{
	position: relative;
	width: 100%;
	padding-top: 8px;
	height: 42px;
	z-index: 200;
	/*border-bottom: 1px solid #eee;*/
}

header .logo{
	position: absolute;
	width: 200px;
	height: 32px;

	left: 50%;
	margin-left: -100px;
	
	background-image: url('/images/logo_sprite.png');
	background-size: 422px;
}

header .menu-bar{
	margin: 4px 12px;
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url('/images/logo_sprite.png');
	background-size: 422px;
	background-position: -400px 0;
}

header form.search-form{ display: none; }


/* Global progress */
#global-progress{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
	background-color: rgba(0, 0, 0, 0.5);
}

#global-progress .progress-loader{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
}


/* Sidebar */
aside.sidebar{
	display: none;
	position: fixed;
	top: 0;
	right: 0;

	width: 245px;
	height: 100%;
	background-color: white;
	z-index: 1000;
	font-weight: 300;
}
aside.sidebar > section.profile{
	padding: 20px 0 10px;
	text-align: center;
	background: #fe646e;
	background: -webkit-linear-gradient(-90deg, #fe646e 0%, #f79384 100%);
	background: linear-gradient(90deg, #fe646e 0%, #f79384 100%);
}

aside.sidebar > section.profile .avatar{
	width: 63px;
	height: 63px;
	margin: 0 auto 8px;
	background-color: #666;
	background-image: url('/images/avatar.png');
	background-size: 63px 63px;
	border-radius: 50%;
}
aside.sidebar > section.profile .avatar.logined{ border: 2px solid white; }

aside.sidebar > section.profile a{ text-decoration: none; }

aside.sidebar > section.profile h3{
	margin: 13px 0;
	padding: 0;
	font-size: 18px;
	font-weight: 300;
	color: white;
}
aside.sidebar > section.profile h3.loggedin-username{ margin: 10px 0 7px }

aside.sidebar > section.profile .logout-btn{
	display: inline-block;
	margin: 3px 0 5px;
	padding: 3px 10px 1px;
	color: #222;
	font-size: 12px;
	font-weight: 400;
	background-color: white;
	border-radius: 10px;
}

aside.sidebar > section.profile .login-btn{
	margin: 5px 10px;
	padding: 7px 0;
	background-color: #666;
	color: white;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s;
}
aside.sidebar > section.profile .login-btn.facebook{ background-color: #3b5998 }
aside.sidebar > section.profile .login-btn.facebook:hover{ background-color: #5579c3 }
aside.sidebar > section.profile .login-btn.naver{ background-color: #00c73c }
aside.sidebar > section.profile .login-btn.naver:hover{ background-color: #0fda4c }
aside.sidebar > section.profile .login-btn.google{ background-color: #4285f4 }
aside.sidebar > section.profile .login-btn.google:hover{ background-color: #75a9ff }

aside.sidebar > section.profile .login-btn.facebook .fa-facebook{ margin-right: 2px }
aside.sidebar > section.profile .login-btn.naver .naver-icon{
	display: inline-block;
	margin-top: 1px;
	width: 13.5px;
	height: 12px;
	background-image: url('/images/naver_icon_white.png');
	background-size: 13.5px 12px;
}

aside.sidebar > section > h4{
	margin: 12px 15px 10px;
	padding: 1px 0;
	font-weight: normal;
	font-size: 14px;
	color: #9B9B9B;
	/*border-bottom: 1px solid #DBDBDB;*/
}
aside.sidebar > section ul{
	margin: 5px 10px;
	padding: 0;
	list-style: none;
}
aside.sidebar > section a{ color: #444; text-decoration: none; }
aside.sidebar > section ul li{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 17px;
	cursor: pointer;
	transition: background-color 0.5s;
}
aside.sidebar > section ul li:hover{ background-color: #f0f0f0 }

aside.sidebar > section.service-shortcuts ul li{
	float: left;
	width: 75px;
	font-size: 13px;
}
aside.sidebar > section.service-shortcuts ul li > div{ margin-top: 4px }


aside.sidebar > section.favorites{
	margin-top: 20px;
	border-top: 1px solid #DBDBDB; 
}
aside.sidebar > section.favorites a{ color: #333; text-decoration: none; }
aside.sidebar > section.favorites ul li{ padding: 2px 10px }
aside.sidebar > section.favorites .person-tile .left .image{ width: 35px; height: 35px; }

aside.sidebar > section.favorites .empty{
	padding: 0 15px;
	font-size: 14px;
	text-align: center;
	color: #555;
}
aside.sidebar > section.favorites .empty .icon-heart{ margin-bottom: 10px }
aside.sidebar > section.favorites .empty p{ margin: 3px 0 }





/* Magzine Navigation */
nav.magazine-nav{
	background-color: white;
}

nav.magazine-nav ul{
	margin: 0;
	padding: 0 10px;
	list-style: none;
	border-bottom: 1px solid #eee;
}

nav.magazine-nav ul li{
	float: left;
	margin: 0 6px;
	padding: 12px 4px 6px;
	font-size: 16px;
	font-weight: 300;
	color: #777;
	border-bottom: 3px solid white;
}

nav.magazine-nav ul li.selected{
	color: #ff3333;
	border-bottom-color: #ff3333;
}



.search-box{
	margin: 0 12px;
	padding: 0;
	border: 1px solid #bbb;
	border-radius: 30px;
	transition: border 0.5s;
}
.search-box.focused{ border-color: #fe646e }
.search-box.focused .fa-search{ color: #fe646e }

.search-box input{
	background: white;
	border: none;
	outline: none;
	font-size: 15px;
	color: #333;
	margin: 0;
	font-weight: 300;
	padding: 4px 7px 4px 12px;
	width: calc(100% - 30px);
	border-radius: 30px 0 0 30px;
	transition: background 0.5s;
}


.search-box button{
	background: none;
	border: none;
	outline: none;
	margin: 4px 0 0 8px;
	padding: 0;
}
.search-box .fa-search{
	color: inherit;
	font-size: 15px;
	margin: 0;
	color: #999;
}


footer{
	padding: 8px 0 10px 0;
	font-size: 13px;
	color: #999;
	text-align: center;
	clear: both;
}


@media(min-width: 900px) {
	html,body{
		/*background-color: #efefef;*/
		overflow-x: hidden;
	}
	#wrap{
		position: relative;
		width: 880px;
		min-height: calc(100% - 80px);
		margin: 80px auto 0;
		/*box-shadow: 0px 0px 3px #ccc;*/
	}
	#wrap header{
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		height: 44px;
		padding-top: 10px;
		background-color: white;
		box-shadow: 0px 0px 3px #ccc;
	}

	header .menu-bar{ background-position: -400px 0 !important }

	header .logo{ margin-left: -476px }

	header form.search-form{
		position: absolute;
		display: block;
		width: 230px;
		left: 50%;
		top: 13px;
		margin-left: 190px;
	}
}

@media(min-width: 1000px) {
	header form.search-form{ margin-left: 225px }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	header .logo,
	header .menu-bar{
		background-image: url('/images/logo_sprite@2x.png');
	}
}

