@charset "utf-8";
@import url(/css/nanumbarungothic.css);

/* normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
/*code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}*/
pre{white-space:pre-wrap;}
q{quotes:\201C \201D \2018 \2019;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure{margin:0;}
legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
/* end of normalize.css */


a img{ border:none; outline:none }

.clearfix{ *zoom:1 }
.clearfix:after{ display:block; clear:both; content:"" }
.fl{ float:left }
.fr{ float:right }
.bold{ font-weight: bold }
.hidden{ visibility: hidden }
.hidden2{ display: none }

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #e3e4e8;
	font-family: 'Nanum Barun Gothic', sans-serif;
	/*font-family: 'Spoqa Han Sans', sans-serif;*/
}

#wrap{
	background-color: #e3e4e8;
}

#mask{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 90;
}

.no-content{
	padding: 70px 0;
	font-size: 16px;
	color: #666;
	text-align: center;
}

.background{
	position: absolute;
	width: 100%;
	background-color: #999;
	background-size: 100% auto;
	background-position: center 40%;
}


/* Header */
header{
	position: relative;
	width: 100%;
	padding-top: 8px;
	height: 42px;
	/*border-bottom: 1px solid #eee;*/
}

header .logo{
	position: absolute;
	width: 200px;
	height: 32px;

	left: 50%;
	margin-left: -100px;
	
	background-image: url('/images/logo_sprite.png');
	background-size: 200px;
}

header .menu-bar{
	margin: 4px 12px;
	font-size: 23px;
	cursor: pointer;
	color: #999;
}



/* Sidebar */
aside.sidebar{
	display: none;
	position: fixed;
	top: 0;
	right: 0;

	width: 220px;
	height: 100%;
	background-color: white;
	z-index: 100;
	font-weight: 300;
}
aside.sidebar > section.profile{
	padding: 20px 0 10px;
	text-align: center;
}

aside.sidebar > section.profile .avatar{
	display: inline-block;
	margin-bottom: 8px;
	border-radius: 50%;
}

aside.sidebar > section.profile h3{
	margin: 5px 0 10px;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
}
aside.sidebar > section.profile h3.loggedin-username{ margin: 5px 0 2px }

aside.sidebar > section.profile .logout-btn{
	display: inline-block;
	margin: 3px 0 5px;
	padding: 3px 5px 1px;
	color: white;
	font-size: 12px;
	background-color: #555;
	border-radius: 4px;
	transition: all 0.5s;
}
aside.sidebar > section.profile .logout-btn:hover{ background-color: #888 }

aside.sidebar > section.profile .login-btn{
	margin: 5px 10px;
	padding: 7px 0;
	background-color: #666;
	color: white;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s;
}
aside.sidebar > section.profile .login-btn.facebook{ background-color: #3b5998 }
aside.sidebar > section.profile .login-btn.facebook:hover{ background-color: #5579c3 }
aside.sidebar > section.profile .login-btn.naver{ background-color: #00c73c }
aside.sidebar > section.profile .login-btn.naver:hover{ background-color: #0fda4c }
aside.sidebar > section.profile .login-btn.google{ background-color: #4285f4 }
aside.sidebar > section.profile .login-btn.google:hover{ background-color: #75a9ff }

aside.sidebar > section.profile .login-btn.facebook .fa-facebook{ margin-right: 2px }
aside.sidebar > section.profile .login-btn.naver .naver-icon{
	display: inline-block;
	margin-top: 1px;
	width: 13.5px;
	height: 12px;
	background-image: url('/images/naver-icon-white.png');
	background-size: 13.5px 12px;
}


aside.sidebar > section > h4{
	margin: 20px 15px 2px;
	padding: 1px 0;
	font-weight: normal;
	font-size: 14px;
	color: #9B9B9B;
	border-bottom: 1px solid #DBDBDB;
}
aside.sidebar > section ul{
	margin: 5px 3px;
	padding: 0;
	list-style: none;
}
aside.sidebar > section a{ color: #444; text-decoration: none; }
aside.sidebar > section ul li{
	margin: 0;
	padding: 7px 15px;
	font-size: 17px;
	transition: background-color 0.5s;
}
aside.sidebar > section ul li:hover{ background-color: #f0f0f0 }

aside.sidebar > section.service-shortcuts ul li .fa{
	width: 15px;
	text-align: center;
	color: #777;
	padding-right: 4px;
} 
aside.sidebar > section.service-shortcuts ul li .fa-calendar{ color: #673AB7 }
aside.sidebar > section.service-shortcuts ul li .fa-user{ color: #E91E63 }
aside.sidebar > section.service-shortcuts ul li .fa-camera-retro{ color: #FF9800 }

aside.sidebar > section.favorites .empty{
	padding: 5px 15px;
	font-size: 14px;
	text-align: center;
	color: #555;
}
aside.sidebar > section.favorites .empty p{ margin: 2px 0 }





/* Common Tile Section */
section.common-tile{
	position: relative;
	margin: 8px 0;
	padding: 14px 0;
	background-color: white;
	color: #444;
}

section.common-tile h3{
	margin: 0 0 5px 14px;
	font-size: 17px;
	font-weight: 400;
	color: black;
}

section.common-tile > a > i.view-more{
	position: absolute;
	top: 3px;
	right: 6px;
	font-size: 32px;
	font-weight: 100;
	color: #92a5af;
}


section.common-tile .content{
	padding: 0 16px;
}



/* Magzine Navigation */
nav.magazine-nav{
	background-color: white;
}

nav.magazine-nav ul{
	margin: 0;
	padding: 0 10px;
	list-style: none;
	border-bottom: 1px solid #eee;
}

nav.magazine-nav ul li{
	float: left;
	margin: 0 6px;
	padding: 12px 4px 6px;
	font-size: 16px;
	font-weight: 300;
	color: #777;
	border-bottom: 3px solid white;
}

nav.magazine-nav ul li.selected{
	color: #ff3333;
	border-bottom-color: #ff3333;
}

footer{
	padding: 8px 0 10px 0;
	font-size: 13px;
	color: #999;
	text-align: center;
}


@media(min-width: 1000px) {
	html,body{
		/*background-color: #efefef;*/
		overflow-x: hidden;
	}
	#wrap{
		position: relative;
		width: 1000px;
		/*min-height: 700px;*/
		margin: 56px auto 0;
		/*box-shadow: 0px 0px 3px #ccc;*/
	}

	#wrap header{
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;

		height: 44px;
		padding-top: 10px;
		background: #3a3535;
		background-image: url('/images/header_bg_pattern.png');
		background-repeat: no-repeat;
		background-position: 150px 0;
		/*background-color: white;
		box-shadow: 0px 0px 3px #ccc;*/
	}
}



@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	header .logo{
		background-image: url('/images/logo_sprite@2x.png');
	}
}

