@charset "utf-8";

#wrap{
	/*background-color: white;*/
}

#wrap > .background{
	z-index: 0;
	height: 230px;
	background: #fe646e;
	background: -webkit-linear-gradient(-90deg, #fe646e 0%, #f79384 100%);
	background: linear-gradient(90deg, #fe646e 0%, #f79384 100%);
}

header{
	position: absolute;
	z-index: 11;
}

header .logo{
	background-position: 0 -32px;
}

header .fr .fa-bars{
	color: white;
}


/* 검색 */
section#search{
	position: relative;
	padding: 50px 0 10px;
	z-index: 3;
}

section#search .search-box{
	margin: 0 12px;
	padding: 4px 5px 3px;
	border: 1px solid white;
	border-radius: 20px;
}
section#search .search-box input{
	background: none;
	border: none;
	outline: none;
	font-size: 15px;
	color: white;
	padding: 0 7px;
	width: calc(100% - 25px);
}
section#search .search-box .fa-search{
	color: white;
	font-size: 15px;
	margin: 0 3px;
}


/* 트렌디 피플 */
section#trendy-people{
	position: relative;
	padding: 10px 0 7px;
}

section#trendy-people .swiper-wrapper{
	width: auto;
	margin: 0 25px;
	height: 125px;
}

section#trendy-people .swiper-button-next,
section#trendy-people .swiper-button-prev{
	width: 13.5px;
	height: 22px;
	background-size: 13.5px 22px;
}

section#trendy-people ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
section#trendy-people ul a{
	color: white;
	text-decoration: none;
}

section#trendy-people ul a li{
	position: relative;
	float: left;
	width: 70px;
	z-index: 2;
	text-align: center;
	font-size: 12px;
	font-weight: 100;
}


/* 볼만한 사건들 */
section#watchable-event{}
section#watchable-event .content .mini-event-tile{
	float: left;
	width: 113px;
	width: calc(33% - 5px);
	margin-right: 7px;
}
section#watchable-event .content .mini-event-tile:last-child{ margin-right: 0 }



/* 3년전 오늘 */
section#day-3years-ago{ position: relative; }
section#day-3years-ago .description{
	position: absolute;
	top: 17px;
	right: 10px;
	font-size: 12px;
	color: #888;
}
section#day-3years-ago .gallery-event-tile{ margin-top: 10px; }
