header{
	background-color: #fe646e;
}
header .logo{ background-position: -200px 0 }
header .menu-bar{ background-position: -400px -22px }

#wrap{
	background-color: white;
	font-size: 15px;
}

#wrap h1{
	font-weight: 300;
	margin: 0;
	padding: 50px 0;
	text-align: center;
	color: #fe646e;
	background-color: #ffefef;
}

#wrap section{ margin: 20px 0 }

#wrap h2{
	margin: 40px 20px 10px;
}

#wrap h3{
	position: relative;
	margin: 0 15px 20px;
	padding: 0;
	text-align: center;
	font-size: 22px;
}

#wrap h4{
	margin: 20px 20px 5px;
}

#wrap h3:after{
    content: '';
	position: absolute;
	bottom: -6px;
	left: 50%;
	height: 2px;
	width: 20px;
	margin-left: -10px;
	display: block;
	background-color: #fe646e;
}

#wrap p{
	margin: 20px;
	line-height: 160%;
	color: #555;
}

#wrap p strong{ color: #fe646e; }

#wrap a{ color: #444; text-decoration: none; }
#wrap a:hover{ text-decoration: underline; color: #666 }

#wrap .footer{ font-size: 13px; }
#wrap .footer a{ color: #888 }

section.center{ text-align: center; }


@media(min-width: 900px) {
	header .logo{
		background-position: 0 0;
	}
	#wrap{ border-radius: 8px; margin-bottom: 20px }
	#wrap h1{ border-radius: 8px 8px 0 0 }
}