@charset "utf-8";

header{
	position: absolute;
	border-bottom-color: white;
	border-bottom-color: rgba(255, 255, 255, 0.5);
	z-index: 11;
}

header .logo{
	background-position: 0 -64px;
}

header .fr .fa-bars{
	color: white;
}


/* 공통 헤더 */
section#people-header{
	position: relative;
	height: 210px;
}

section#people-header .user-react{
	position: absolute;
	top: 61px;
	right: 10px;
}
section#people-header .user-react .star{
	color: white;
	font-size: 20px;
	cursor: pointer;
}
section#people-header .user-react .star.enabled{ color: #ffcc00 }

section#people-header svg{
	position: relative;
	top: 90px;
}

section#people-header .background{
	height: 210px;
	filter: brightness(80%);
}

section#people-header h1{
	position: absolute;
	bottom: 0;

	color: white;

	font-size: 46px;
	font-weight: 100;
	margin: 0;
	padding: 10px 0 7px 20px;
}
section#people-header h1 .sub{
	font-size: 16px;
	font-weight: 300;
	margin-left: -5px;
}



/* 한 마디로 */
section#in-one-word{
	/*margin: 40px 0 30px;*/
	padding: 23px 0;
	text-align: center;
	vertical-align: middle;
}

section#in-one-word > div{ padding: 0 10px }

section#in-one-word .fa{ color: rgba(255, 0, 102, 0.2) }
section#in-one-word .fa-quote-left{ vertical-align: top }
section#in-one-word .fa-quote-right{ vertical-align: bottom }

section#in-one-word h2{
	display: inline-block;
	margin: 0;
	padding: 3px 5px;
	font-size: 30px;
	font-weight: 300;
	vertical-align: middle;
	color: #ff0066;
}

section#in-one-word .reference{
	margin: 5px;
	font-size: 13px;
	text-align: right;
	color: #999;
	font-style: italic;
	margin-bottom: -10px;
}


/* 그룹 틀 */
section#singer-group{
	padding: 15px 20px;
	background-color: #ff3366;
	font-weight: 300;
}
section#singer-group .title{ color: white }

section#singer-group h4.group-title{
	margin: 0;
	font-size: 18px;
	font-weight: 300;
}

section#singer-group ul.member{
	margin: 0;
	padding: 0;
	list-style: none;
}

section#singer-group ul li{
	float: left;
	margin: 15px 10px 0;
}
section#singer-group ul li img{
	border: 1px solid white;
	border-radius: 50%
}

section#singer-group ul li > div{
	margin-top: 7px;
	text-align: center;
	color: white;
	font-weight: 300;
}


/* 왜 떴을까 */
section#people-trend{
	padding-bottom: 0;
}

section#people-trend .graph-area{
	position: relative;
	padding: 0 15px;
}

section#people-trend .graph-area svg path{
	fill: rgba(255, 51, 51, 0.1);
	stroke: rgb(255, 51, 51);
	stroke-opacity: .7;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
}
section#people-trend .graph-area .overlay{
	position: absolute;
	top: 0;
	width: calc(100% - 30px);
	height: 105px;
}

section#people-trend .graph-area .overlay .number{
	display: inline-block;
	position: absolute;
	
	margin-left: -2px;
	margin-top: -23px;
	font-weight: bolder;
	font-size: 18px;
}
section#people-trend .graph-area .overlay .date{
	display: inline-block;
	position: absolute;
	bottom: 0px;
	margin-left: -16px;
	font-size: 11px;
	color: #666;
	background-color: white;
}


section#people-trend .events{
	position: relative;
	background-color: #f0f0f0;
	padding-top: 3px;
}

section#people-trend .events .number{
	position: absolute;
	margin: 14px 0 0 12px;
	font-weight: bold;
}

section#people-trend .events .event-tile{
	margin-bottom: 3px;
	padding: 12px 15px 6px;
	padding-left: 35px;
	background-color: white;
}


/* 타임라인 */
section.timeline{
	/*margin: 50px 0 0 0;*/
	display: none;
}
section#timeline1{ display: block; }


.timeline-filter-wrap{
	position: relative;
	height: 10px;
	background-color: white;
}

.timeline-filter-wrap .nice-select{
	position: absolute;
	z-index: 99;
	top: 6px;
	right: 10px;

	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 0 23px 0 10px;
}
.timeline-filter-wrap select{
	display: none;
}

section.timeline ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section.timeline ul li{
	position: relative;
	margin: 1px 0;
	padding: 15px 15px 15px 50px;
	background-color: white;
}

section.timeline ul li .line{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 27px;
	width: 3px;
	height: 100%;
	background-color: #e0e0e0;
	z-index: 30;
}
section.timeline ul li:first-child{ margin-top: 0; }
section.timeline ul li:first-child .line{
	top: -10px;
	height: calc(100% + 10px);
}


section.timeline ul li .circle{
	position: absolute;
	top: 19px;
	left: 24px;
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 6px;
	border: 2px solid #c5c5c5;
	z-index: 50;
}

section.timeline ul li h3{
	margin: 0 0 4px -7px;
	padding: 0;
	color: #666;
	font-weight: normal;
	font-size: 18px;
}


/* 전적 정보 */
section#people-stats{

}

section#people-stats .content{ padding: 0 15px }

section#people-stats .content .stat{ margin: 10px 3px; }
section#people-stats .content .stat .fr a{
	display: inline-block;
	font-size: 13px;
	color: #666;
	text-decoration: none;
	margin: 4px 3px 0 0;
}

section#people-stats .content.total-1stats .stat{ float: none }
section#people-stats .content.total-1stats .stat canvas{ margin: 0 auto }


section#people-stats .comments{
	width: calc(100% - 201px);
	border-left: 1px solid #ddd;
	margin-left: 10px;
	padding-left: 10px;
	height: 125px;
	font-size: 13px;
}
section#people-stats .comments ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section#people-stats .comments .no-comments{
	margin: 45px 0 37px;
	text-align: center;
	color: #888;
}

section#people-stats .comments .btn-container{ text-align: center; }

section#people-stats .comments .evaluate-btn{
	display: inline-block;
	margin: 5px auto;
	padding: 4px 7px 3px;
	background-color: #ff3333;
	color: white;
	border: none;
	border-radius: 4px;
}

/* 인물 유형 특화 엔티티 */
section.role-entities{

}

section.role-entities .no-content{
	padding: 10px 0 25px;
}