@charset "utf-8";

header{
	position: absolute;
}

header .logo{ background-position: -200px -32px }
header .menu-bar{ background-position: -400px -22px }


nav.magazine-nav ul li.selected{
	color: #ee3f7a;
	border-bottom-color: #ee3f7a;
}
.popup h4{ background-color: #ee3f7a }
.popup .btn-container button.submit{ background-color: #ee3f7a }


/* 공통 헤더 */
section#people-header{
	position: relative;
	height: 210px;
}

section#people-header .background{
	height: inherit;
	z-index: 1;
	/*filter: brightness(90%);*/
}
section#people-header .background-filter{
	position: absolute;
	width: 100%;
	height: inherit;
	background: -webkit-linear-gradient(0, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 85%, rgba(0,0,0,.5));
	background: linear-gradient(90deg, rgba(0,0,0,.8), rgba(0,0,0,0));
	/*background: linear-gradient(90deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 85%, rgba(0,0,0,.5));*/
	z-index: 2;
}


section#people-header ul.roles{
	position: absolute;
	left: 20px;
	bottom: 70px;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 5;
}

section#people-header ul.roles li{
	float: left;
}


section#people-header h1{
	position: absolute;
	bottom: 19;

	color: white;
	font-size: 31px;
	font-weight: 400;
	margin: 0;
	padding: 10px 0 7px 20px;
	z-index: 5;
}
section#people-header h1 .sub{
	font-size: 13px;
	font-weight: 100;
}


section#people-header .user-react{
	position: absolute;
	bottom: 30px;
	right: 20px;
	z-index: 5;
}
section#people-header .user-react .favorite{
	color: white;
	font-size: 13px;
	font-weight: 100;

	padding: 3px 5px 2px;
	border: 1px solid white;
	background-color: rgba(0,0,0,0.3);
	border-radius: 20px;

	cursor: pointer;
}
section#people-header .user-react .favorite.enabled{ color: #ffcc00; border-color: #ffcc00 }







/* 한 마디로 */
section#quotation{
	padding: 0;
	height: 100px;
	vertical-align: middle;
}

section#quotation .background{
	height: inherit;
	background-color: #8da5cb;
	background-image: url('/images/quotation_bg.png');
	background-size: 100% 100px;
}


section#quotation .more{ position: relative; margin: 3px -10px 0 0; font-size: 25px }
section#quotation .more a{ color: white; text-decoration: none; }

.quotation-tile .text{
	padding: 0 10px;
	text-align: center;
}
section#quotation .text{ color: white; }

.quotation-tile .text h2{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 31px;
	font-weight: 400;
	vertical-align: middle;
}

.quotation-tile .text .reference{
	position: relative;
	margin: 9px 0 0 0;
	font-size: 13px;
	font-weight: 100;
}


/* 그룹 틀 */
section#singer-group{
	padding: 15px 20px;
	background-color: #ff3366;
	font-weight: 300;
}
section#singer-group .title{ color: white }

section#singer-group h4.group-title{
	margin: 0;
	font-size: 18px;
	font-weight: 300;
}

section#singer-group ul.member{
	margin: 0;
	padding: 0;
	list-style: none;
}

section#singer-group ul li{
	float: left;
	margin: 15px 10px 0;
}
section#singer-group ul li img{
	border: 1px solid white;
	border-radius: 50%
}

section#singer-group ul li > div{
	margin-top: 7px;
	text-align: center;
	color: white;
	font-weight: 300;
}


/* 왜 떴을까 */
section#people-trend{
	padding-bottom: 0;
}

section#people-trend i.index-bubble{ color: white }
section#people-trend i.index-bubble.index1{ background-color: #26c7db }
section#people-trend i.index-bubble.index2{ background-color: #738ffd }
section#people-trend i.index-bubble.index3{ background-color: #9473ce }

section#people-trend .graph-area{
	position: relative;
	padding: 0 15px 5px;
}

section#people-trend .graph-area svg.graph-large{ display: none; }

section#people-trend .graph-area svg path{
	fill: none;
	stroke: #cfd7da;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

section#people-trend .graph-area .overlay{
	position: absolute;
	top: 0;
	width: calc(100% - 30px);
	height: 105px;
}

section#people-trend .graph-area .overlay i.index-bubble{
	position: absolute;
	margin-left: -12px;
	margin-top: -26px;
}

section#people-trend .graph-area .overlay .date{
	display: inline-block;
	position: absolute;
	bottom: -3px;
	margin-left: -10px;
	font-size: 10px;
	color: #8c8b8b;
	background-color: white;
}


section#people-trend .events{
	position: relative;
	background-color: #f0f0f0;
	padding-top: 2px;
}

section#people-trend .events i.index-bubble{
	position: absolute;
	margin: 14px 0 0 12px;
}

section#people-trend .events .event-tile{
	margin-bottom: 2px;
	padding-left: 45px;
	background-color: white;
}



/* 타임라인 */
section.timeline{
	/*margin: 50px 0 0 0;*/
	display: none;
}
section#timeline1{ display: block; }


.timeline-filter-wrap{
	position: relative;
	height: 10px;
	background-color: white;
}

.timeline-filter-wrap .nice-select{
	position: absolute;
	z-index: 99;
	top: 6px;
	right: 10px;

	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 0 22px 0 13px;
	border-radius: 30px;
}
.timeline-filter-wrap select{
	display: none;
}

section.timeline ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section.timeline ul li{
	position: relative;
	margin: 0;
	padding: 15px 15px 5px 50px;
	background-color: white;
}

section.timeline ul li .line{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 25px;
	width: 2px;
	height: 100%;
	background-color: #d4d4d4;
	z-index: 30;
}

section.timeline ul li .circle{
	position: absolute;
	top: 19px;
	left: 21px;
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	border: 2px solid #9d9d9d;
	z-index: 50;
}

section.timeline ul li:first-child{ margin-top: 0; }
section.timeline ul li:first-child .line{
	top: 30px;
	height: calc(100% - 30px);
}
section.timeline ul li:first-child .circle{
	width: 12px;
	height: 12px;
	left: 18px;
	top: 15px;
}

section.timeline ul li h3{
	margin: 0 0 6px -7px;
	padding: 0;
	color: black;
	font-weight: normal;
	font-size: 18px;
}

section.timeline ul li .event-tile{
	margin-bottom: 20px;
}
section.timeline ul li .event-tile:last-child{ margin-bottom: 10px }

section.timeline ul li .event-tile > .fl{ width: calc(100% - 110px) }
section.timeline ul li .event-tile .image{ width: 100px; height: 70px; background-size: 100px auto }




/* 재미로 보는 능력치 */
section#people-stats{

}

section#people-stats > .content{ padding: 0 15px }

section#people-stats .stat{
	margin: 5px auto;
	padding: 10px 0 5px;
	border-top: 1px solid #ddd;
	max-width: 400px;
}
section#people-stats .stat:first-child{ border-top: none; padding-top: 5px }

section#people-stats .stat .header{ padding: 5px 0 }
section#people-stats .stat .fr{
	padding: 0 3px;
}

section#people-stats .stat .fr .btn-container{
	text-align: center;
	margin-top: 5px;
}
section#people-stats .stat .fr button.evaluate-btn{
	padding: 4px 0;
	border: none;
	outline: none;
	width: 110px;
	background-color: #ec407a;
	color: white;
	font-size: 13px;
	font-weight: 300;
	border-radius: 30px;
}


ol.stat-stars{
	list-style: none;
	margin: 0;
	padding: 0;
}
ol.stat-stars li{
	margin: 7px 0;
	padding: 0;
	font-size: 14px;
	color: #999;
}
ol.stat-stars li i{
	display: inline-block;
	font-style: normal;
	width: 17px;
	line-height: 15px;
	margin-right: 2px;
	padding-top: 2px;

	font-size: 12px;
	text-align: center;
	background-color: #b1bec6;
	color: white;
	border-radius: 50%;
	font-weight: 300;
}
ol.stat-stars li .stat-label{
	display: inline-block;
	width: 68px;
	font-weight: 300;
	font-size: 13px;
}

.stat-evaluate-popup{
}
.stat-evaluate-popup > .content{ margin-top: -180px }
.stat-evaluate-popup ol.stat-stars{ margin: 12px 0; text-align: center; }
.stat-evaluate-popup ol.stat-stars .label-container{ margin: 13px 0 1px }
.stat-evaluate-popup ol.stat-stars li .stat-label{ width: auto; }



/* 인맥 */
section#inmac{

}

.inmac-resource{
	display: inline-block;
	margin: 0 1px;
	background-image: url('/images/inmac_resource_sprite.png');
	background-size: 45px auto;
}
.inmac-resource.women{ width: 24px; height: 24px; background-position: 0 0; background-size: 60px auto; }
.inmac-resource.men{ width: 24px; height: 24px; background-position: -24px 0; background-size: 60px auto; }

.inmac-resource.arrow{ width: 40px; height: 6px }
.inmac-resource.arrow.left{ background-position: 0 -18px }
.inmac-resource.arrow.left.enabled{ background-position: 0 -24px }
.inmac-resource.arrow.right{ background-position: 0 -30px }
.inmac-resource.arrow.right.enabled{ background-position: 0 -36px }


section#inmac .vis-network{
	outline: none;
}

section#inmac-relation{ display: none; }

section#inmac-relation .close{
	margin: -2px 10px 0;
	color: #616d73;
	font-size: 18px;
}

section#inmac-relation .between{
	width: 365px;
	margin: 20px auto;
}
section#inmac-relation .between .person-tile{ position: relative; float: left; width: 145px }
section#inmac-relation .between .person-tile h4 .sub{ margin-left: -3px }
section#inmac-relation .between .person-tile .sex{ position: absolute; bottom: -4px }
section#inmac-relation .between .person-tile .right .sex{ right: 38px }
section#inmac-relation .between .person-tile .left .sex{ left: 38px }

section#inmac-relation .between .relation{
	float: left;
	margin: 20px 10px 0 10px;
}
section#inmac-relation .between .relation .arrow{ margin: 2px 0 }

section#inmac-relation .events .event-tile{
	border-top: 1px solid #ddd;
	padding-left: 16px;
}


/* 사진 (탭) */
section#images{
}

section#images p.notice{
	text-align: center;
	font-size: 13px;
	color: #888;
	margin: 20px 0 10px;
}

section#images ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

section#images ul li{
	width: 174px;
}

section#images ul li img{ width: 100% }

section#images ul li .content{ text-align: right; }
section#images ul li .content button{
	color: white;
	font-size: 13px;
	
	outline: none;
	padding: 4px 7px 2px;
	border-radius: 20px;

	background: transparent;
	border: 1px solid white;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	transition: all 0.3s;
}
section#images ul li .content button.enabled{ color: #ee3f7a; border-color: #ee3f7a }


/* 인물 유형 특화 엔티티 */
section.role-entities{
}

section.role-entities .no-content{
	padding: 10px 0 25px;
}



/* 한마디로 탭 */
#quotation-writing-popup{
	margin-top: -40px;
}
#quotation-writing-popup .editor{
	height: 120px;
}
#quotation-writing-popup .editor .background{
	top: 45px;
	height: inherit;
	background: white url('/images/quotation_bg_white_short.png');
	background-size: 100% 120px;
}
#quotation-writing-popup .editor textarea{
	position: relative;
	display: block;
	width: 300px;
	margin: 20px auto 5px;
	padding: 5px;
	border: 1px solid #ccc;
	resize: none;
	font-size: 23px;
	text-align: center;
}
#quotation-writing-popup .editor textarea:hover{ outline: none; border-color: #ec407a }
#quotation-writing-popup .editor textarea.reference{ margin: 5px auto; font-size: 14px; width: 200px }

section#quotations-header button.write,
section#quotations-header .fr > span.active > .radio{ background-color: #ec407a }


section#quotations-full{
}
section#quotations-full .content{ height: 100px }
section#quotations-full .background{
	height: 100px;
	background: white url('/images/quotation_bg_white.png');
	background-size: 100% 100px;
}



@media(min-width: 1000px) {
	header{
		/*border-bottom: 2px solid #ee3f7a;*/
	}

	header .logo{
		background-position: 0 -32px;
	}

	section#people-header{
		height: 250px;
	}

	section#people-trend .graph-area svg.graph-small{ display: none }
	section#people-trend .graph-area svg.graph-large{ display: block }
	section#people-trend .graph-area .overlay i.index-bubble{ margin-left: 0 }

	section#people-stats .stat{
		float: left;
		border-top: none;
		margin: 5px 40px;
		width: 400px;
	}
}

