{% extends '/layouts/default.html' %}

{% block title %}개인정보처리방침 - 메멘토{% endblock %}

{% block head %}
	{{ super() }}

	<meta property="og:image" content="{{ geturl('assets', '/images/cover.png') }}">
	<link rel="stylesheet" href="{{ geturl('assets', '/css/intro_page.css') }}">

{% endblock %}

{% block content %}
	<h1>개인정보처리방침</h1>

	<section class="common-tile">
		<h2>1. 개요</h2>
		<p>
			메멘토는 이용자의 프라이버시를 매우 중요하게 생각하며 각별히 주의를 기울여 처리하고 있습니다.
			이용자의 프라이버시를 존중하고 보호하기 위하여 메멘토는 다음의 기본 원칙을 마련하여 준수하고 있습니다.
		</p>
		<p>
			1) 메멘토는 이용자의 개인 정보를 수집, 처리, 사용 또는 공개하기 위해서 이를 적절한 방법에 따라 이용자에게 고지하고 동의를 구합니다.<br>
			2) 메멘토는 이용자 개인 정보의 수집, 처리에 필요한 최소범위로 이용 목적을 특정합니다.<br>
			3) 메멘토는 특정된 이용 목적을 달성에 필요한 최소한의 정보만을 수집합니다.<br>
			4) 메멘토는 이용자의 동의가 있는 경우 또는 관련 법령에서 정한 경우를 제외하고는 이용자로부터 수집한 정보를 수집 목적외에 사용하지 않으며, 목적 달성에 필요한 최소한의 기간만 해당 정보를 보관합니다.<br>
			5) 메멘토는 이용자의 개인 정보가 정확하고, 완전하며, 최신의 상태를 유지할 수 있도록 노력합니다.<br>
			6) 메멘토는 이용자의 개인 정보를 보호하기 위하여 적절한 기술적 및 관리적인 보호 조치를 취합니다.<br>
			7) 메멘토는 이용자의 개인 정보 처리를 위한 정책과 절차를 투명하고 합리적으로 수립합니다.<br>
			8) 이용자는 적용되는 법률이 정한 바에 따라 이용자의 개인 정보에 스스로 접근할 수 있고 필요에 따라서 이용자의 개인 정보를 정정할 수 있습니다.<br>
			9) 메멘토는 수집한 이용자의 개인정보에 대한 관리 책임을 갖습니다. 메멘토는 항상 이러한 원칙, 본 개인정보처리방침 및 적용되는 법률에 대한 이용자의 의견을 경청합니다.<br>
		</p>
		
		<h2>2. 개인정보처리방침의 목적</h2>
		<p>본 개인정보처리방침은 메멘토가 어떻게 이용자의 개인 정보를 처리하고 보호하는지, 그리고 이용자의 개인 정보에 관한 권리 및 선택 사항을 설명하고 있습니다. 본 개인정보취급방침은 이용자가 메멘토 웹사이트(이하 &quot;서비스&quot;)를 방문할 때 메멘토에 제공하는 정보 및 서비스의 다른 이용자에 의해서 공개되는 이용자의 개인 정보에 적용됩니다.</p>
		
		<h2>3. 수집하는 개인 정보의 종류</h2>
		
		<h4>i. 이용자의 계정에 관한 정보</h4>
		<p>메멘토 서비스를 이용하기 위해서 이용자가 계정을 생성할 때, 메멘토는 이용자의 소셜아이디 토큰 및 아이디를 저장합니다. 이는 사용자 식별에 사용됩니다.</p>

		<h4>ii. 서비스 이용시 기기 정보 및 액세스 로그</h4>
		<p>이용자가 메멘토의 서비스를 이용할때 메멘토는 이용자의 기기의 종류, OS타입, IP주소, 언어 설정을 포함한 브라우저 정보, 쿠키 데이터, 광고 식별자 등 이용자의 기기에서 자동적으로 제공되는 특정 전자적 ID를 포함하는 로그 데이터를 생성하여 보관합니다. 이 정보는 인가되지 않은 또는 부정한 서비스 사용(혹은 남용)을 예방하는데 사용합니다. 그 밖에도 이용자의 기기에 최적화된 서비스를 제공하기 위해서 사용합니다. 또 광고 식별자는 메멘토의 내부 ID를 통해서 이용자의 계정과 연계되는 경우가 있을 수 있습니다.</p>
		
		<h4>iii. 이용자 생성 콘텐츠(선택)</h4>
		<p>
			메멘토 서비스를 이용하며 생성한 컨텐츠, 즐겨찾기 등은 서비스 데이터베이스상에 저장되어 관리· 보관됩니다.
		</p>

		<h4>iv. 쿠키</h4>
		<p>
			메멘토는 쿠키 및 로컬 스토리지를 포함한 유사한 기술을 사용합니다. 쿠키는 웹 사이트를 방문했을 때 이용자의 PC에 저장되는 작은 텍스트 파일입니다. 이 텍스트 파일은 사이트를 재방문했을 때 웹 사이트가 읽을 수 있는 정보를 저장합니다. 이들 중의 몇개의 쿠키가 없는 경우 사이트가 정상적으로 동작하지 않을 수 있습니다. 기타 쿠키는 방문자의 편리성을 위한 것입니다 : <br>
			예를들면, 쿠키는 안전한 방법으로 사용자 이름과 이용자의 언어 설정을 기억합니다. 이는 곧 이용자가 웹사이트를 방문할 때마다 같은 정보를 기입할 필요가 없다는 것을 의미합니다.
		</p>
		<p>
			메멘토는 쿠키를 아래와 같이 이용합니다 :<br>
			•이용자가 서비스 또는 부가서비스를 이용할 때 이용자의 세션을 유지하기 위해서<br>
			•메멘토의 시스템 보안 강화를 위해서<br>
			•이용자의 선호도를 저장하고, 이를 기반으로 이용자에게 최적화된 편리한 서비스를 제공하기 위해서<br>
			•이용자들의 서비스 이용 행태를 분석하고, 보다 나은 서비스를 제공하기 위해서<br>
		</p>
		<p>
			또 메멘토는 아래의 타사 쿠키를 웹사이트에서 사용합니다.<br>
			• Google Analytics
		</p>
		<p>이용자는 서비스를 계속하여 사용함으로써 메멘토가 본 개인정보처리방침에 따라 쿠키와 유사한 기술을 사용하는 것에 동의합니다.</p>
		<p>대부분의 인터넷 브라우저는 이용자가 직접 쿠키 수용 여부를 선택할 수 있습니다. 그러나 이용자가 만약 쿠키를 사용하지 않도록 설정하거나 쿠키의 기능을 제한하도록 설정하는 경우, 웹사이트의 편리한 기능을 사용할 수 없을 수 있으며 이로 인하여 이용자의 전체적인 사용자 경험을 제한할 가능성이 있습니다.</p>
		
		<h2>4. 개인정보의 제공 및 위탁</h2>

		<h4>a. 개인정보의 제공</h4>
		<p>메멘토는 원칙적으로 이용자 동의 없이 개인정보를 외부에 제공하지 않습니다. 단, 이용자가 외부 제휴사의 서비스를 이용하기 위하여 개인정보 제공에 직접 동의를 한 경우, 그리고 관련 법령에 의거해 메멘토에 개인정보 제출 의무가 발생한 경우에 한하여 개인정보를 제공하고 있습니다.</p>
		
		<h4>b. 개인정보의 위탁</h4>
		<p>메멘토는 서비스 제공을 위하여 필요한 업무 중 일부를 외부 업체에 위탁하고 있지 않습니다.</p>
		
		<h2>5. 개인정보 파기절차 및 방법</h2>
		<p>이용자가 서비스를 탈퇴하게 되면 관련 개인정보는 원칙적으로 파기됩니다.</p>
		
		<h4>a. 파기절차</h4>
		<p>이용자가 서비스 이용 등을 위해 입력한 정보는 목적이 달성된 후, 내부 방침 및 기타 관련 법령에 의한 정보보호 사유(보유 및 이용기간 참조)에 따라 일정 기간 저장된 후 파기됩니다. 동 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.</p>
		<h4>b. 파기방법</h4>
		<p>종이에 출력된 개인정보는 분쇄기로 분쇄하고, 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
		
		<h2>5. 개인정보의 보유 및 이용기간</h2>

		<p>
		메멘토는 이용자의 개인정보 수집 목적을 달성하였고, 해당 정보를 보존해야 할 법적 근거가 없는 경우 개인정보를 파기합니다. 그 외 전자상거래 등에서의 소비자 보호에 관한 법률 등에서 정보의 보관을 규정하는 경우는 아래와 같습니다. 메멘토는 이 기간 동안 법령의 규정에 따라 개인정보를 보관하며, 본 정보를 다른 목적으로는 절대 이용하지 않습니다.
		</p>
		<p>
		•전자상거래 등에서 소비자 보호에 관한 법률<br>
		-계약 또는 청약철회 등에 관한 기록: 5년 보관<br>
		-대금결제 및 재화 등의 공급에 관한 기록: 5년 보관<br>
		-소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관<br>
		</p>
		<p></p>
		<p>&lt;적용일 : 2017년 6월 5일&gt;</p>

	</section>

	<section class="center footer">
		<a href="/about/">서비스소개</a>
		<span>·</span>
		<a href="/terms/">이용약관</a>
	</section>

{% endblock %}
