<aside class="sidebar">
	<section class="profile">

		{{# if user.loggined }}
			<div class="avatar" style="background-image: url('{{ user.image_url }}')"></div>
			<h3 class="loggedin-username">{{ user.nickname }}</h3>
			<div>
				<a href="https://base.memento.live/logout" class="logout-btn">로그아웃</a>
			</div>

		{{ else }}
			<div class="avatar"></div>
			<h3>로그인 필요</h3>
			
			<div class="login-btn facebook" onclick="memento.login('facebook')">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<span>페이스북으로 로그인</span>
			</div>
			<div class="login-btn naver" onclick="memento.login('naver')">
				<span class="naver-icon"></span>
				<span>네이버로 로그인</span>
			</div>
		
			<div class="login-btn google" onclick="memento.login('google')">
				<i class="fa fa-google" aria-hidden="true"></i>
				<span>구글으로 로그인</span>
			</div>
		{{/ if }}

	</section>
	<section class="service-shortcuts">
		<h4>서비스 바로가기</h4>
		<ul>
			<li class="weekly-memento">
				<i class="fa fa-calendar" aria-hidden="true"></i>
				<span>위클리 메멘토</span>
			</li>
			<li class="random-person">
				<i class="fa fa-user" aria-hidden="true"></i>
				<span>랜덤 인물</span>
			</li>
			<li class="random-event">
				<i class="fa fa-camera-retro" aria-hidden="true"></i>
				<span>랜덤 사건</span>
			</li>
		</ul>
	</section>
	<section class="favorites">
		<h4>즐겨찾기</h4>

		{{# if user.favorites.length }}
			<ul>
			{{#each user.favorites }}
				<li class="person">
					<a href="/people/{{ this.id }}">
						<div class="clearfix">
							<div class="fl left">
								<span class="image" style="background-image: url('{{ this.image }}')"></span>
							</div>
							<div class="fl right">
								<div>{{ this.nickname }}</div>
								
							</div>
						</div>
					</a>
				</li>
			{{/ each }}
			</ul>

		{{ else }}
			<div class="empty">
				<p>즐겨찾기한 인물이 없습니다</p>
				<p>좋아하는 인물에 하트표시를<br>남겨보세요!</p>
			</div>
		{{/ if }}
	</section>
</aside>