<aside class="sidebar">
	<section class="profile">

		{{# if user }}
			<div>
				<img src="{{ user.image_url }}" class="avatar" width="63" height="63">
			</div>
			<h3 class="loggedin-username">
				<span>{{ user.name }}</span>
			</h3>

		{{ else }}
			<div>
				<img src="/images/avatar.png" class="avatar" width="63" height="63">
			</div>
			<h3>
				<span>로그인 필요</span>
			</h3>
			
			<div class="login-button facebook" onclick="login('facebook')">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<span>페이스북으로 로그인</span>
			</div>
			<div class="login-button naver" onclick="login('naver')">
				<span class="naver-icon"></span>
				<span>네이버로 로그인</span>
			</div>
		
			<div class="login-button google" onclick="login('google')">
				<i class="fa fa-google" aria-hidden="true"></i>
				<span>구글으로 로그인</span>
			</div>
		{{/ if }}

	</section>
	<section class="service-shortcuts">
		<h4>서비스 바로가기</h4>
		<ul>
			<a href="/weekly">
				<li>
					<i class="fa fa-calendar" aria-hidden="true"></i>
					<span>위클리 메멘토</span>
				</li>
			</a>
			<a href="/people/random">
				<li>
					<i class="fa fa-user" aria-hidden="true"></i>
					<span>랜덤 인물</span>
				</li>
			</a>
			<a href="/event/random">
				<li>
					<i class="fa fa-camera-retro" aria-hidden="true"></i>
					<span>랜덤 사건</span>
				</li>
			</a>
		</ul>
	</section>
	<section class="favorites">
		<h4>즐겨찾기</h4>
		<div class="empty">
			<p>즐겨찾기한 인물이 없습니다</p>
			<p>좋아하는 인물에 하트표시를<br>남겨보세요!</p>
		</div>
	</section>
</aside>