{% extends '/layouts/default.html' %}

{% block title %}{{ person.nickname }} - 메멘토{% endblock %}

{% block head %}
	{{ super() }}
	<meta property="og:image" content="{{ person.repr_image() }}">
	
	<link rel="stylesheet" href="{{ geturl('assets', '/css/people_magazine.css') }}">

	<script type="text/javascript">
		var entityId = {{ person.id }};
	</script>
	<script type="text/javascript" src="{{ geturl('assets', '/js/people.js') }}"></script>
{% endblock %}


{% block content %}
	<section id="people-header">
		<div class="background" style="{{ person.repr_image(True) | safe  }}"></div>
		<div class="background-filter"></div>

		<div class="user-react">
			<span class="favorite">
				<i class="fa fa-heart-o" aria-hidden="true"></i>
			</span>
		</div>

		<ul class="roles clearfix">
			{% for role in person.get_roles() %}
			<li class="label white">{{ role }}</li>
			{% endfor %}
		</ul>

		<a href="{{ person.magazine_url() }}">
			<h1>
				<span>{{ person.nickname }}</span>
				{% if person.realname and person.realname != person.nickname %}
				<span class="sub">({{ person.realname }})</span>
				{% endif %}
			</h1>
		</a>
	</section>

	<nav class="magazine-nav">
		<ul class="clearfix">
			{{ nav_li(person.magazine_url(),			     '요약', 	  page == 'summary') }}
			{{ nav_li(person.magazine_url() + '/timeline',   '타임라인', page == 'timeline') }}
			{{ nav_li(person.magazine_url() + '/inmac',      'IN맥', page == 'inmac') }}
			{{ nav_li(person.magazine_url() + '/images',     '사진', 	  page == 'images') }}
			{{ nav_li(person.magazine_url() + '/quotations', '한마디로', page == 'quotations') }}

			{# {% for roleid, roledata in person.roles.items() %}
			{% if roledata.stats %}
				{{ nav_li('/people/%s/%s' % (person.id, roledata.name), roledata.name, _page.url) }}
			{% endif %}
			{% endfor %} #}
		</ul>
	</nav>
{% endblock %}