{% extends '/layouts/default.html' %}

{% block title %}{{ person.nickname }} - 메멘토{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/css/people_magazine.css">

	<script type="text/javascript">
		var entityId = {{ person.id }};
	</script>
	<script type="text/javascript" src="/js/people.js"></script>
{% endblock %}


{% block content %}
	<section id="people-header">
		<div class="background" style="{{ person.repr_image(True)  }}"></div>
		<div class="background-filter"></div>

		<div class="user-react">
			<i class="fa fa-star-o star" aria-hidden="true"></i>
		</div>

		<ul class="roles clearfix">
			{% for role in person.get_roles() %}
			<li>{{ role }}</li>
			{% endfor %}
		</ul>

		<a href="/people/{{ person.id }}">
			<h1>
				<span>{{ person.nickname }}</span>
				{% if person.realname and person.realname != person.nickname %}
				<span class="sub">({{ person.realname }})</span>
				{% endif %}
			</h1>
		</a>
	</section>

	<nav class="magazine-nav">
		<ul class="clearfix">
			{{ nav_li('/people/%s' % person.id, '요약', _page.url) }}
			{{ nav_li('/people/%s/timeline' % person.id, '타임라인', _page.url) }}
			{{ nav_li('/people/%s/images' % person.id, '사진', _page.url) }}

			{% for roleid, roledata in person.roles.items() %}
			{% if roledata.stats %}
				{{ nav_li('/people/%s/%s' % (person.id, roledata.name), roledata.name, _page.url) }}
			{% endif %}
			{% endfor %}
		</ul>
	</nav>
{% endblock %}