{% extends "/people_magazine/_layout.html" %}

{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ geturl('assets', '/js/people_images.js') }}"></script>
{% endblock %}

{% block foot %}
	{{ super() }}

	<script type="text/javascript">
		peopleImages.init();
	</script>
{% endblock %}

{% block content %}
	{{ super() }}

	<section id="images">
		{% if person.images | length %}
		<p class="notice">
			가장
			<i class="fa fa-heart" aria-hidden="true"></i>
			를 많이 받은 사진이 커버에 등록됩니다
		</p>

		<ul class="image-container">
			{% for image in person.images %}
				<li class="grid-image-tile" id="image-{{ image.id }}">
					<img src="{{ image_url(image) }}">
					<div class="background-filter"></div>

					<div class="content">
						<button onclick="peopleImages.act({{ image.id }}, this)">
							<i class="fa fa-heart" aria-hidden="true"></i>
							<span class="value">{{ image.like_count }}</span>
						</button>
					</div>
				</li>
			{% endfor %}
		</ul>

		{% else %}
			<div class="no-content">
				사진이 없습니다.
			</div>
		{% endif %}

	</section>

{% endblock %}