{% extends "/people_magazine/_layout.html" %}

{% block head %}
	{{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.js"></script>
	<script type="text/javascript" src="{{ geturl('assets', '/js/people_inmac.js') }}"></script>
	<script type="text/javascript">
		var entityData = {{ person.json() | safe }};
	</script>
{% endblock %}

{% block foot %}
	{{ super() }}
	<script type="text/javascript">
		memento.uapi.get('/entities/' + entityId +'/relations', function (result) {
			inmac.setRelations(result);
			inmac.draw();
		});
	</script>

{% endblock %}


{% block content %}
	{{ super() }}

	<section id="inmac">
		<div id="inmac-network" style="height: 350px; background-color: white"></div>
	</section>

	<section id="inmac-relation" class="common-tile">
	</section>

	{% raw %}
	<script type="x-tmpl-mustache" id="template-inmac-relation">
		<div class="fr close" onclick="$(this).parent().hide()">
			<i class="fa fa-times" aria-hidden="true"></i>
		</div>
		<h3>'{{ person2.nickname }}' 와의 관계</h3>
		<div>
			<div class="between clearfix">
				<div class="person-tile clearfix">
					<div class="fr right">
						<span class="image" style="{{ image_url person1.profile_image true }}"></span>
						<!--<span class="sex inmac-resource men"></span>-->
					</div>
					<div class="fr left content">
						<h4>
							<span>{{ person1.nickname }}</span>
							{{# if_neq person1.realname person1.nickname }}
							<span class="sub">({{ person1.realname }})</span>
							{{/ if_neq }}
						</h4>
						<div class="role">{{ roles person1.roles }}</div>
					</div>
				</div>

				<div class="relation">
					{{# if_eq inbound.type "INSTAGRAM" }}
					<div>
						<span class="inmac-resource arrow left enabled"></span>
					</div>
					{{ else }}
					<div>
						<span class="inmac-resource arrow left"></span>
					</div>
					{{/ if_eq }}

					{{# if_eq outbound.type "INSTAGRAM" }}
					<div>
						<span class="inmac-resource arrow right enabled"></span>
					</div>
					{{ else }}
					<div>
						<span class="inmac-resource arrow right"></span>
					</div>
					{{/ if_eq }}
				</div>

				<div class="person-tile clearfix">
					<div class="fl left">
						<span class="image" style="{{ profile_image person2 true }}"></span>
						<!--<span class="sex inmac-resource women"></span>-->
					</div>
					<div class="fl right content">
						<h4>
							<span>{{ person2.nickname }}</span>
							{{# if_neq person2.realname person2.nickname }}
							<span class="sub">({{ person2.realname }})</span>
							{{/ if_neq }}
						</h4>
						<div class="role">{{ roles person2.role_json }}</div>
					</div>
				</div>
			</div>
			<div class="events"></div>
		</div>
	</script>
	{% endraw %}
{% endblock %}