{% extends "/people_magazine/_layout.html" %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ geturl('assets', '/js/people_quotation.js') }}"></script>
	<script type="text/javascript">
		function openWritePopup() {
			$("#quotation-writing-popup").fadeIn();

		}
		function uploadQuotation(form) {
			if (!form.quotation.value) {
				alert("내용을 입력 해 주세요");
				return false;
			}
			quotations.write(form.quotation.value);
			$("#quotation-writing-popup").fadeOut();
		}
	</script>
{% endblock %}

{% block foot %}
	{{ super() }}
	<script type="text/javascript">
		quotations.render();
	</script>

{% endblock %}

{% block content %}
	{{ super() }}

	<div id="quotation-writing-popup" class="popup">
		<div class="background"></div>
		<div class="content">
			<form onsubmit="uploadQuotation(this); return false">
				<h4>한마디로 작성하기</h4>
				<div>이 인물을 한마디로 표현한다면<br>어떻게 할 수 있을까요?</div>
				<div>
					<textarea name="quotation"></textarea>
				</div>
				<div class="btn-container">
					<button>등록</button>
				</div>
			</form>
		</div>
	</div>

	<section id="quotations-header" class="board-tile-header clearfix">
		<div class="fl">
			<button class="write" onclick="openWritePopup()">한마디로 작성하기</button>
		</div>
		<div class="fr">
			<span class="filter-btn type0 active" onclick="quotations.reload(0)">
				<span class="radio"><i></i></span>
				<span>호감순</span>
			</span>
			<span class="filter-btn type1" onclick="quotations.reload(1)">
				<span class="radio"><i></i></span>
				<span>최신순</span>
			</span>
		</div>
	</section>

	<section id="quotations-full"></section>

	{% raw %}
	<script type="x-tmpl-mustache" id="template-quotations">
		{{# if quotations.length }}
			{{#each quotations }}
			<div class="board-tile quotation-tile" id="quotation-{{ this.id }}">
				<div class="background"></div>
				<div class="content">
					<div class="text">
						<h2>{{ this.quotation }}</h2>
						
						{{# if this.reference }}
						<div class="reference">
							- {{ this.reference }}
						</div>
						{{/ if }}
					</div>
				</div>

				<div class="meta clearfix">
					<div class="fl">
						<img class="avatar" src="{{ this.user.image_url }}" width="25" height="25">
						<h4>@{{ this.user.nickname }}</h4>
						<span class="date">{{ this.created_time }}</span>
					</div>

					<div class="btn-container fr">
						<button class="like-btn" onclick="quotations.like({{ this.id }})">
							<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
							<span>{{ this.like_count }}</span>
						</button>
					</div>
				</div>
			</div>
			{{/ each }}
		{{else}}
		<div class="no-content">아직 '한마디로'가 없습니다</div>
		{{/ if }}
	</script>
	{% endraw %}

{% endblock %}