{% extends "/layouts/people_magazine.html" %}

{% block head %}
	{{ super() }}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script type="text/javascript" src="/js/people.js"></script>
{% endblock %}

		
{% block content %}
	{{ super() }}

	<section id="people-stats" class="common-tile">
		<h3>재미로 보는 능력치</h3>
		<div class="content clearfix">
			<div class="fl">
				<canvas id="stat-chart" width="180" height="130"></canvas>
			</div>
			<div class="comments fr">
				{# <ul>
					<li>댓글1</li>
					<li>댓글2</li>
				</ul> #}
				<div class="no-comments">평가가 아직 없습니다.</div>
				<div class="btn-container">
					<button class="evaluate-btn">평가 남기기</button>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript">
		makeStatChart(
			document.getElementById("stat-chart"),
			{{ person.roledata.stat_records.labels | safe }},
			{{ person.roledata.stat_records.datas | safe }}
		);
	</script>
	

	{% for entity_type, entities in person.roledata.related_entities.items() %}

	<section class="role-entities common-tile">
		<h3>{{ l10n(entity_type) }}</h3>
		<div class="content">
			{% if not entities or entities | length == 0 %}
			<div class="no-content">
				{{ l10n(entity_type) }} 정보가 없습니다.
			</div>
			{% else %}
			..
			{% endif %}
		</div>
	</section>

	{% endfor %}

{% endblock %}
