{% extends "/people_magazine/_layout.html" %}

{% block head %}
	{{ super() }}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

		
{% block content %}
	{{ super() }}

	{% for w in person.in_one_word %}
	<section id="in-one-word" class="common-tile">
		<div class="background"></div>
		<div class="content">
			<h2 style="font-size: {{ iow_size(w.keyword) }}">{{ w.keyword }}</h2>
			{% if w.reference %}
			<div class="reference">
				- {{ w.reference }}
			</div>
			{% endif %}
		</div>
	</section>
	{% endfor %}


	{% if person.group %}
	<section id="singer-group" class="common-tile">
		<div class="title clearfix">
			<h4 class="group-title fl">{{ person.group.name }}</h4>
			<div class="group-company fr">{{ person.group.belongs }}</div>
		</div>
		<ul class="member clearfix">
			{% for member in person.group.members %}
			<li>
				<img src="{{ member.image }}" width="60" height="60">
				<div>{{ member.name }}</div>
			</li>
			{% endfor %}
		</ul>
	</section>
	{% endif %}


	<section id="people-trend" class="common-tile">
		<h3>
			<i class="people-icon icon-trend"></i>
			<span>왜 떴을까?</span>
		</h3>
		<div class="graph-area">
			{% set merge_cnt = 5 %}
			{% set graph_width = trend_graph | length * merge_cnt %}
			
			{% set svg_width = 350 %}
			<svg class="graph-small" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="105" viewBox="0 0 {{ svg_width }} 105" preserveAspectRatio="none">
				<path d="M 0, 90
					{% for d in trend_graph %} L {{ (merge_cnt * loop.index) / graph_width * svg_width }}, {{ 90 - d.value }} {% endfor %}
					M {{ svg_width }}, 90
				" />
			</svg>

			{% set svg_width = 1000 %}
			<svg class="graph-large" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="105" viewBox="0 0 {{ svg_width }} 105" preserveAspectRatio="none">
				<path d="M 0, 90
					{% for d in trend_graph %} L {{ (merge_cnt * loop.index) / graph_width * svg_width }}, {{ 90 - d.value }} {% endfor %}
					M {{ svg_width }}, 90
				" />
			</svg>

			<div class="overlay">
			{% set x_poses = [] %}
			{% for tt in top_trends.values() %}
				{% set x_pos = tt.graph_data.index / (trend_graph | length) * 100 %}

				<i class="index-bubble index{{ loop.index }}" style="
						left: {{ x_pos }}%;
						top: {{ 95 - tt.graph_data.value }}px;">
					{{ loop.index }}
				</i>

				{# 너무 가까우면 날짜 표시 안함 #}
				{% if x_poses[-1] and -8 <= (x_poses[-1] - x_pos) <= 8 %}
				{% else %}
					<span class="date" style="
						left: {{ x_pos }}%;
					">{{ tt.event.date.year }}.{{ tt.event.date.month }}</span>

					{% if x_poses.append(x_pos) %} {% endif %}
				{% endif %}

			{% endfor %}
			</div>
		</div>
		<div class="events">
		{% for tt in top_trends.values() %}
			<i class="index-bubble index{{ loop.index }}">
				{{ loop.index }}
			</i>
			{{ event_tile.event_tile(tt.event, full_image=True) }}
		{% endfor %}
		</div>
	</section>


	{% if person.roles and person.stat_counts %}
	<section id="people-stats" class="common-tile">
		<h3>
			<i class="people-icon icon-star"></i>
			<span>재미로 보는 능력치</span>
		</h3>

		<div class="content clearfix total-{{ person.stat_counts }}stats">
			{% for roleid, roledata in person.roles.items() %}
			{% if roledata.stats2 %}

			<div class="stat fl">
				<div class="clearfix">
					<span class="label fl">{{ roledata.name }}</span>
					<span class="fr">
						<a href="./{{ roledata.name }}">자세히</a>
					</span>
				</div>
				<div>
					<canvas id="stat-chart-{{ loop.index }}" width="165" height="125"></canvas>
				</div>
			</div>

			<script type="text/javascript">
				makeStatChart(
					document.getElementById("stat-chart-{{ loop.index }}"),
					{{ roledata.stats2.labels | safe }},
					{{ roledata.stats2.datas | safe }}
				);
			</script>
			{% endif %}
			{% endfor %}
		</div>

	</section>
	{% endif %}
		
{% endblock %}