{% extends "/people_magazine/_layout.html" %}
{% import "/macros/event_tile.html" as event_tile %}


{% block head %}
	{{ super() }}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
	<script type="text/javascript">
		var LEVEL_LABEL = ['essentials', 'hot', 'minor', 'all'];

		$(window).on('hashchange', function (e) {
			var level;
			if (location.hash)
				level = LEVEL_LABEL.indexOf(location.hash.substr(1));
			else
				level = 0;

			$('.timeline').hide();
			$('#timeline' + (level+1)).show();
		});

		$(window).ready(function () {
			$('#timeline-filter').on('change', function (e) {
				var level = $(this).val();
				location.hash = LEVEL_LABEL[parseInt(level)-1];
			});

			$('#timeline-filter').niceSelect();
			$(window).trigger('hashchange');
		});

	</script>
{% endblock %}

		
{% block content %}
	{{ super() }}
	
	<div class="timeline-filter-wrap">
		<select id="timeline-filter" class="right">
			<option value="1" data-display="핵심 사건">핵심</option>
			<option value="2" data-display="굵직한 사건">굵직한</option>
			<option value="3" data-display="사소한 사건">사소한</option>
			<option value="4" data-display="모든 사건">모두</option>
		</select>
	</div>

	{% for timeline in timelines %}
	<section id="timeline{{ loop.index }}" class="timeline">
		<ul>
			{% for event in timeline %}
				<li>
					{% set linecolor = rand_color() %}
					<div class="line" style="background-color: {{ linecolor }}"></div>
					<div class="circle" style="border-color: {{ linecolor }}"></div>

					<h3 style="color: {{ linecolor }}">
						{{ event.date.split('-')[0:2] | join('.') }}
					</h3>

					{{ event_tile.event_tile(event) }}
				</li>
			{% endfor %}
		</ul>
	</section>
	{% endfor %}
{% endblock %}