{% import "/macros/person_tile.html" as person_tile %}
{% import "/macros/event_tile.html" as event_tile %}
<!doctype>
<html>
	<head>
		{% block head %}

		<title>{% block title %}{% endblock %}</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %}{% endblock %}

		<link rel="shortcut icon" href="{{ geturl('assets', '/favicon.ico') }}">
		<link rel="stylesheet" href="{{ geturl('assets', '/css/global.css') }}">
		<link rel="stylesheet" href="{{ geturl('assets', '/css/components.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
		<script src="https://npmcdn.com/minigrid@3.0.1/dist/minigrid.min.js"></script>

		<script type="text/javascript">
			var baseUrls = {
				'main': "{{ geturl() }}",
				'assets': "{{ geturl('assets') }}",
				'people': "{{ geturl('people') }}",
				'event': "{{ geturl('event') }}",
				'weekly': "{{ geturl('weekly') }}",
			};
			var searchPage = false;
		</script>
		<script type="text/javascript" src="{{ geturl('assets', '/js/global.js') }}"></script>
		{% endblock %}
	</head>
	<body>
		{% macro nav_li(url, title, selected=False) -%}
			<a href="{{ url }}">
			{% if selected %}
				<li class="selected">{{ title }}</li>
			{% else %}
				<li>{{ title }}</li>
			{% endif %}
			</a>
		{% endmacro %}

		<div id="mask"></div>
		<div id="global-sidebar"></div>
		<div id="global-progress">
			<div class="progress-loader"></div>
		</div>

		<div id="wrap">
			<header>
				<div class="fr">
					<span class="menu-bar"></span>
				</div>
				<a href="{{ geturl() }}">
					<div class="logo"></div>
				</a>

				<form name="searchg" class="search-form" action="{{ geturl('', 'search') }}" method="GET" onsubmit="return searchSubmit(this);">
					<div class="search-box clearfix">
						<input class="fl" type="text" name="q" onfocus="$(this).parent().addClass('focused')" onblur="$(this).parent().removeClass('focused')">
						<button class="search">
							<i class="fa fa-search fr"></i>
						</button>
					</div>
				</form>
			</header>
			{% block content %}{% endblock %}

			<footer>
				{% block memento_time %}
				<div class="memento-time">이 페이지는 {{ _page.render_time.strftime('%y년 %m월 %d일 %H시') }}에 생성되었습니다</div>
				{% endblock %}
				<div>&copy; <a href="{{ geturl() }}about">memento</a></div>
			</footer>
		</div>

		{% raw %}
		<script type="x-tmpl-mustache" id="template-event-tile">
			{{#each events }}
			<div class="event-tile full-image clearfix">
				{{# if this.images.[0] }}
				<div class="fl content">
				{{ else }}
				<div class="content">
				{{/ if }}
					<h4>
						<a href="{{ ../baseUrls.event }}{{ this.id }}">{{ truncate this.title 35 }}</a>
					</h4>
					<div class="labels emotion-bubbles">
						<span class="issue-label {{ rank this.issue_data.top_percentile }}-rank"></span>
						<span class="category-label category-{{ replace this.type '/' '-' }}"></span>
						
						{{# if this.emotions.[0] }}
						<span class="emotion">
							<i style="background-color: {{ random_color }}"></i>
							<span>{{ this.emotions.[0].emotion }}</span>
						</span>
						{{/ if }}

						{{# if this.emotions.[1] }}
						<span class="emotion">
							<i style="background-color: {{ random_color }}"></i>
							<span>{{ this.emotions.[1].emotion }}</span>
						</span>
						{{/ if }}
					</div>
				</div>
				{{# if this.images.[0] }}
				<div class="fr">
					<div class="image" style="{{ image_url this.images.[0] true }}"></div>
				</div>
				{{/ if }}
			</div>
			{{/ each }}
			{{# if showMoreBtn }}
			<div class="more-btn">
				<span class="content">
					<span>사건 더보기</span>
					<i class="fa fa-plus-square-o" aria-hidden="true"></i>
				</span>
			</div>
			{{/ if }}
		</script>
		{% endraw %}
		
		<script type="text/javascript" src="{{ geturl('assets', '/js/global_foot.js') }}"></script>
		{% block foot %}{% endblock %}
	</body>
</html>