{% import "/macros/person_tile.html" as person_tile %}
{% import "/macros/event_tile.html" as event_tile %}
<!doctype>
<html>
	<head>
		{% block head %}

		<title>{% block title %}{% endblock %}</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %}{% endblock %}

		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="/css/global.css">
		<link rel="stylesheet" href="/css/components.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
		<script src="https://npmcdn.com/minigrid@3.0.1/dist/minigrid.min.js"></script>


		<script type="text/javascript" src="/js/global.js"></script>

		{% endblock %}
	</head>
	<body>
		{% macro nav_li(url, title, pageurl) -%}
			<a href="{{ url }}">
			{% if url == pageurl or url == pageurl[0:-1] %}
				<li class="selected">{{ title }}</li>
			{% else %}
				<li>{{ title }}</li>
			{% endif %}
			</a>
		{% endmacro %}

		<div id="mask"></div>
		<div id="global-sidebar"></div>

		<div id="wrap">
			<header>
				<div class="fr">
					<i class="fa fa-bars menu-bar" aria-hidden="true"></i>
				</div>
				<a href="/">
					<div class="logo"></div>
				</a>
			</header>
			{% block content %}{% endblock %}

			<footer>
				&copy; memento
			</footer>
		</div>

		<script type="text/javascript" src="/js/global_foot.js"></script>
		{% block foot %}{% endblock %}
	</body>
</html>