{% extends '/layouts/default.html' %}

{% block title %}{{ title }} - 메멘토{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/css/event_magazine.css">

{% endblock %}


{% block content %}
	<header>
		<div class="fr">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		<a href="/">
			<div class="logo"></div>
		</a>
	</header>

	<section id="event-header">
		<div class="background" style="{{ first_image(images, True) }}"></div>

		<h1>
			<span>{{ title }}</span>
			{% if real_name %}<span class="sub">({{ real_name }})</span>{% endif %}
		</h1>
	</section>

	<nav class="magazine-nav">
		<ul class="clearfix">
			{{ nav_li('/event/%s' % id, '요약', _page.url) }}
			{{ nav_li('/event/%s/images' % id, '관련 사진', _page.url) }}
			{{ nav_li('/event/%s/news' % id, '관련 기사', _page.url) }}
			{{ nav_li('/event/%s/3lines' % id, '3줄 요약', _page.url) }}
		</ul>
	</nav>
{% endblock %}